@use "../tools/vFront" as *;
@use "../tools/mixin/com" as m;

body{
    font: {
        family: $Poltext, $PetTitle;
        size: $txtSize;
    }
    background: {
        color: $blanc;
    }
    color : $noir;
}

h1{
   @include m.text($TrGdTitle);
    
}
h2{
    @include m.text($GdTitle);
}
h3{
    @include m.text($MoyTitle);
}
h4{
    @include m.text($PetTitle);
}
