@use "../tools/vFront" as *;
@use "../tools/mixin/com" as m;

body{
    font: {
        family: $Poltext,$Poltitle,"sans-serif";
        size: $txtSize;
    }
    background: {
        color: $blanc;
    }
    color : $noir;
    margin: 0;
}
main{
    padding-top: 80px;
}
h1{
   @include m.text($TrGdTitle);
    
}
h2{
    @include m.text($GdTitle);
}
h3{
    @include m.text($MoyTitle);
}
h4{
    @include m.text($PetTitle);
}
/*###############################
#            HEADER             #
###############################*/

header{
    .mobile-only{
        display: none;
    }

    z-index: 1000;
    position: fixed;
    display: inline-flex;
    background: {
        color: $colP;
    }
    height: 80px;
    width: 100%;
    align-items: center;

    .logo_alizon_front{
        width: 118px;
        height: auto;
        padding-left: 80px;
        left: 0;
    }

    nav{
        margin-left: auto;
        display: flex;
        align-items: center;
        a{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 20px;
            color: $blanc;
            text-decoration: none;
        }
        svg{
            padding-right: 10px;
        }

    }

    @media screen and (max-width: 428px) {
        .logo_alizon_front{
            padding-left: 30px;
            width: 100px;
        }
        nav a{
            padding-right: 10px;
            font-size: 12px;
        }

        .tab-only{
            display: none;
        }

        .mobile-only{
            display: block;
            padding-left: 20px;
        }

        nav svg{
            padding-right: 30px;
        }
    }
}

/*###############################
#            FOOTER             #
###############################*/

.footer {
    background-color: #f9f9fb;
    border-top: 4px solid $eleOrange; 
    color: #333;
    font-family: $Poltext;
    padding-top: 1rem;

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1.5rem 2rem;
        padding-top: 0;
        display: grid;
        grid-template-columns: 1.4fr 1fr 1fr;
        gap: 2rem;
        align-items: start;

        .footer-section {
            h3 {
                font-size: $MoyTitle;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            p, li, a {
                font-size: $txtSize;
                color: #444;
                text-decoration: none;

            }

            p{
                margin: {
                    bottom: 0.3rem;
                    top:0;
                }
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

            li {
                margin-bottom: 0.3rem;
            }
            }

        }

        .footer-map {
            text-align: center;

            img {
                max-width: 100%;
                height: auto;
                opacity: 0.8;
            }
        }
    }

    .footer-bottom {
        background-color: $colS;
        text-align: center;
        padding: 0.5rem;
        font-size: $txtSize;
        color: #333;
        border-top: 1px solid #ccc;
    }

    .footer-logo{
        align-self: center;
    }

    .logo-mobile-only-footer{
        display: none;
    }

    .mobile-only{
        display: none;
    }

    @media screen and (max-width: 428px) {
        display: flex;
        flex-direction: column;

        .footer-content {
            grid-template-columns: 50% 50%;
            text-align: left;

            h3{
                font-size: 13px;
            }

            .footer-logo{
                display: none;
            }
        }

        .footer-bottom{
            font-size: 10px;
        }

        .logo-mobile-only-footer{
            display: block;
            align-self: center;
        }

        .mobile-only{
            display: none;
        }

        .other-account{
            align-self: center;
            text-align: center;
            margin-top: 10px;
        }
    }
}

/*###############################
#        Menu Categorie         #
################################*/

.nav-cat{
    width: 100%;
    background-color: $eleBleu;
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: row;
    

    div{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scrollbar-width: none;
    }

    h2{
        margin: 0;
        margin-left: 10px;
        margin-right: 10px;
        align-self: center;
    }

    svg, a{
        z-index: 1000;
        align-self: center;
        color: $noir;
        font: {
            size: 18px;
            weight: 600;
        }
        text-decoration: none;
        white-space: nowrap;
        background-color: $eleBleu;
        padding: 15px;
        padding-right: 30px;
        cursor: pointer;
    }

    svg{
        overflow: visible;
    }

    @media screen and (max-width: 428px) {
        display: none;
    }


}

.overlayMenuCat{
    z-index: 998;
    display: none;
    position: fixed;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;

}

.overlayContentCat {
    position: absolute;
    background: $eleBleu;
    padding: 2rem;
    padding-left: 1rem;
    text-align: left;
    max-width: 400px;
    min-width: 200px;
    height: 550px;
    top: 100px;
    left: 0;

    overflow-y:scroll;
    scrollbar-width: none;

    @media screen and (max-width: 428px){
        display: none;
    }

    
    

    ul{
        padding-inline-start: 1rem;
        li{
            list-style: none;
            margin-bottom: 1rem;
            a{
                text-decoration: underline;
                font: {
                    family: $Poltext;
                    size: $MoyTitle;
                    weight: 600;
                    
                }
                color: $noir;
            }
        }
        ul > li > a{
            text-decoration: none;
            font-size: $txtSize;
            font-weight: normal;
        }

        ul > li{
            margin-left: 1rem;

        }
    }
}

.overlayMenuCatMob{
    z-index: 1000;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);

}

.overlayContentCatMob {
    position: fixed;
    background: $blanc;
    text-align: left;
    min-width: 70%;
    height: 100%;
    left: 0;

    overflow-y:scroll;
    scrollbar-width: none;

    ul{
        padding-inline-start: 1rem;
        li{
            list-style: none;
            margin-bottom: 1rem;
            a{
                text-decoration: underline;
                font: {
                    family: $Poltext;
                    size: $MoyTitle;
                    weight: 600;
                    
                }
                color: $noir;
            }
        }
        ul > li > a{
            text-decoration: none;
            font-size: $txtSize;
            font-weight: normal;
        }

        ul > li{
            margin-left: 1rem;

        }
    }

    .page-acc{
        position: sticky;
        top: 20%;
        display: flex;
        align-items: center;
        border-bottom: 4px solid #A1A1A1;
        width: 100%;
        background-color: $blanc;
        z-index: 1001;

        padding: {
            bottom: 5px;
            top: 5px;
        }

        a{
            text-decoration: none;
            color: $noir;
            margin-left: 1rem;
            
        }

        svg{
            margin-left: 50px;
        }
    }




    .identification{
        position: sticky;
        top: 0;
        background-color: $colP;
        left:0;
        width: 100%;
        height: 20%;
        //padding-left: 1rem;

        a{
            text-decoration: none;
            color: $blanc;
        }

        h3, p{
            margin: 0;
            color: $blanc;
        }

        .cross{
            position: absolute;
            top: 30px;
            right: 30px;
        }

        .user-ident{
            position: absolute;
            top: 30px;
            padding-left: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;

            svg{
                margin-left: 20px;
                height: 28px;
                width: auto;
            }
        }

        .parcourir-alizon{
            position: absolute;
            top: 90px;
            padding-left: 1rem;
        }

    }
}