@use "../tools/vFront" as *;
@use "../tools/mixin/com" as m;


body{
    font: {
        family: $Poltitle, $Poltext, sans-serif;
        size: $txtSize;
    }
    background: {
        color: white;
    }
    color : black;
}

h1{
   @include m.text($TrGdTitle);
}
h2{
    @include m.text($GdTitle);
}
h3{
    @include m.text($MoyTitle);
}
h4{
    @include m.text($PetTitle);
}
p, label, input{
    font-family:$Poltext;
}
label{
    font-weight:bold;
}