@use "../tools/vFront" as *;
@use "../tools/mixin/com" as m;

body{
    font: {
        family: $Poltext;
        size: $txtSize;
    }
    background: {
        color: $blanc;
    }
    color : $noir;
}

h1{
   @include m.text($TrGdTitle);
    
}
h2{
    @include m.text($GdTitle);
}
h3{
    @include m.text($MoyTitle);
}
h4{
    @include m.text($PetTitle);
}

/*###############################
#            HEADER             #
###############################*/

header{
    z-index: 1000;
    position: fixed;
    display: inline-flex;
    background: {
        color: $colP;
    }
    height: 80px;
    width: 100%;
    align-items: center;

    .logo_alizon_front{
        width: 118px;
        height: auto;
        padding-left: 80px;
        left: 0;
    }

    nav{
        margin-left: auto;
        display: flex;
        align-items: center;
        a{
            padding-right: 20px;
            color: $blanc;
            text-decoration: none;
        }
        svg{
            padding-right: 10px;
        }
    }
}