@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-regular-webfont.woff") format("woff"), url("../../fonts/baloo2-regular-webfont.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-extrabold-webfont.woff") format("woff"), url("../../fonts/baloo2-extrabold-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-medium-webfont.woff") format("woff"), url("../..fonts/baloo2-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-black-webfont.woff") format("woff"), url("../../fonts/mulish-black-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-blackitalic-webfont.woff") format("woff"), url("../../fonts/mulish-blackitalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bolditalic-webfont.woff") format("woff"), url("../../fonts/mulish-bolditalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bold-webfont.woff") format("woff"), url("../../fonts/mulish-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format("woff"), url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format("woff"), url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-regular-webfont.woff") format("woff"), url("../../fonts/baloo2-regular-webfont.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-extrabold-webfont.woff") format("woff"), url("../../fonts/baloo2-extrabold-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-medium-webfont.woff") format("woff"), url("../../fonts/baloo2-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format("woff"), url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-black-webfont.woff") format("woff"), url("../../fonts/mulish-black-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-blackitalic-webfont.woff") format("woff"), url("../../fonts/mulish-blackitalic-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bolditalic-webfont.woff") format("woff"), url("../../fonts/mulish-bolditalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bold-webfont.woff") format("woff"), url("../../fonts/mulish-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format "woff", url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-regular-webfont.woff") format("woff"), url("../../fonts/baloo2-regular-webfont.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-extrabold-webfont.woff") format("woff"), url("../../fonts/baloo2-extrabold-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-medium-webfont.woff") format("woff"), url("../..fonts/baloo2-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-black-webfont.woff") format("woff"), url("../../fonts/mulish-black-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-blackitalic-webfont.woff") format("woff"), url("../../fonts/mulish-blackitalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bolditalic-webfont.woff") format("woff"), url("../../fonts/mulish-bolditalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bold-webfont.woff") format("woff"), url("../../fonts/mulish-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format("woff"), url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format("woff"), url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
} 
body {
  font-family: "Mulish", "Baloo", "sans-serif";
  font-size: 14px;
  background-color: white;
  color: black;
  margin: 0;
}

h1 {
  font-family: "Baloo";
  font-size: 40px;
}

h2 {
  font-family: "Baloo";
  font-size: 32px;
}

h3 {
  font-family: "Baloo";
  font-size: 24px;
}

h4 {
  font-family: "Baloo";
  font-size: 20px;
}

p, label, input {
  font-family: "Mulish";
}

label {
  font-weight: bold;
}

/*###############################
#            HEADER             #
###############################*/
header {
  display: flex;
  flex-direction: row;
  background-color: #CD4B22;
  align-items: center;
  justify-content: space-between;
}
header .logo_alizon_back {
  width: 118px;
  height: auto;
  margin: 1em 2em 1em 2em;
}
header h1 {
  color: white;
  font-family: "Baloo", sans-serif;
  font-size: 2em;
  margin-top: 1em;
}
header div {
  display: flex;
}
header a {
  display: flex;
  outline: none;
  text-decoration: none;
}
header a h2 {
  color: white;
  font-family: "Baloo", sans-serif;
  font-size: 1.5em;
  margin: 0 2em 0 0;
}
header a .ajout {
  margin: 0 0.5em 0 2em;
  width: 2em;
  height: auto;
  flex-direction: row;
}
header a .user {
  width: 2em;
  height: auto;
  margin: 0 0.5em 0 2em;
  flex-direction: row;
}

/*###############################
#            FOOTER             #
###############################*/
.footer {
  background-color: #f9f9fb;
  border-top: 4px solid #6CA6E9;
  color: #333;
  font-family: "Mulish";
  padding-top: 1rem;
  margin-top: 2em;
}
.footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr;
  gap: 2rem;
  align-items: start;
}
.footer .footer-content .footer-section h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.footer .footer-content .footer-section p, .footer .footer-content .footer-section li, .footer .footer-content .footer-section a {
  font-size: 14px;
  color: #444;
  text-decoration: none;
}
.footer .footer-content .footer-section p {
  margin-bottom: 0.3rem;
  margin-top: 0;
}
.footer .footer-content .footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-content .footer-section ul li {
  margin-bottom: 0.3rem;
}
.footer .footer-content .footer-map {
  text-align: center;
}
.footer .footer-content .footer-map img {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}
.footer .footer-bottom {
  background-color: #FFD6C2;
  text-align: center;
  padding: 0.5rem;
  font-size: 14px;
  color: #333;
  border-top: 1px solid #ccc;
}
.footer .footer-logo {
  align-self: center;
  display: flex;
}

main {
  margin-left: 3em;
}
main h1 {
  font-family: "Baloo", sans-serif;
  font-size: 2em;
  color: #FFD6C2;
}
main p {
  font-family: "Mulish", sans-serif;
  font-size: 1.2em;
  color: black;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 1.25em;
  gap: 1.25em;
  box-sizing: border-box;
  margin-left: 4em;
  background-color: #FFD6C2;
  width: 55em;
  height: 50em;
  border-radius: 24px;
}
aside div {
  display: grid;
  grid-template-columns: repeat(2, 11.75em);
  gap: 1.25em;
  justify-content: start;
  align-items: start;
}
aside h1 {
  font-family: "Baloo", sans-serif;
  font-size: 2em;
  color: black;
  text-align: center;
  margin-top: 1em;
  padding-left: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}

.reduction {
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: white;
  border-radius: 24px;
  width: 11.75em;
  height: 11.75em;
  margin-left: 1.25em;
  text-decoration: none;
  position: relative;
  padding-top: 0.75em;
  box-sizing: border-box;
  gap: 0.1em;
}
.reduction > svg {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
}
.reduction a img {
  text-decoration: none;
  border-color: black;
}
.reduction img {
  position: static;
  z-index: 1;
  width: 5.5em;
  height: 5.5em;
  border-color: black;
  border-radius: 24px;
  border: 2px solid;
  margin-left: 10px;
}
.reduction p {
  margin: 0;
}
.reduction .nomArticle {
  padding-left: 10px;
  font-family: "Mulish", sans-serif;
  font-size: 1em;
  color: black;
  text-align: left;
  margin-top: 0.25em;
}
.reduction .prixBase {
  padding-left: 10px;
  font-family: "Mulish", sans-serif;
  font-size: 0.75em;
  color: black;
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  text-align: left;
}
.reduction div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 0.25em;
  position: relative;
}
.reduction div .prixReduc {
  font-family: "Mulish", sans-serif;
  font-size: 1.25em;
  padding-left: 10px;
  margin-right: 0.25em;
  color: black;
  font-weight: bold;
}
.reduction div .pourcentReduc {
  font-family: "Mulish", sans-serif;
  font-size: 1em;
  padding-right: 20px;
  color: #FF4444;
}
.reduction div .btnModifReduc {
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.reduction div .btnModifReduc svg {
  width: 30px;
  height: 100%;
}
.reduction div .btnModifReduc:hover svg circle {
  fill: rgb(63.6390532544, 139.1420118343, 226.3609467456);
}

.lesAvis {
  background-color: #FFD6C2;
  text-decoration: none;
  width: 60em;
  height: 30em;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  float: right;
  margin: 0 4em 3em 5em;
  display: block;
  position: relative;
  z-index: 1;
}
.lesAvis h1 {
  font-family: "Baloo", sans-serif;
  font-size: 2em;
  color: black;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;
}
.lesAvis .avis {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: black solid 1px;
  width: 50em;
  height: 4em;
  border-radius: 16px;
  margin: 1em 0 0 4em;
  padding: 1em;
  text-decoration: none;
  position: relative;
}
.lesAvis .pdp {
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  margin-bottom: 0.5em;
  margin-top: -0.25em;
  margin-right: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CD4B22;
  color: white;
  font-family: "Mulish", sans-serif;
  font-size: 1em;
  text-align: center;
  position: relative;
  flex-shrink: 0;
}

.infoAvis {
  display: flex;
  flex-direction: column;
}
.infoAvis .nomNote {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1.5em;
}
.infoAvis .nomNote p {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-right: 0.25em;
}
.infoAvis .nomNote .note {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.infoAvis .nomUtilisateur {
  font-family: "Mulish", sans-serif;
  font-size: 1.2em;
  color: black;
  margin-top: 0em;
  height: 0.5em;
}
.infoAvis .contenuAvis {
  font-family: "Mulish", sans-serif;
  font-size: 1em;
  color: black;
  text-overflow: ellipsis;
  margin: 0;
}

.btnAccueil {
  clear: right;
  display: flex;
  flex-direction: row;
  margin: 0 4em 1em 5em;
}
.btnAccueil a {
  padding: 0.5em 1em;
  margin: 1em 0.5em 1em 0;
  flex-basis: 100%;
  height: 1.5em;
  display: flex;
  font-weight: bold;
  font-size: 24px;
  font-family: "Mulish", sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #FCB66B;
  color: black;
  border-radius: 1em;
  text-decoration: none;
}
.btnAccueil a:hover {
  background-color: rgb(250.9867549669, 157.3443708609, 57.0132450331);
  cursor: pointer;
}

.lesPromotions {
  background-color: #FFD6C2;
  text-decoration: none;
  width: 60em;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  position: relative;
  float: right;
  margin: 0 4em 0 2em;
  margin-top: 1em;
}
.lesPromotions h1 {
  font-family: "Baloo", sans-serif;
  font-size: 2em;
  color: black;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;
}

.promotions {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  margin-top: 1.5em;
  margin-bottom: 2em;
  padding-bottom: 0.75em;
}
.promotions .promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border-radius: 24px;
  width: 20em;
  height: 5em;
  padding: 1em;
}
.promotions .promo img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
  z-index: 1;
}
.promotions .promo h2 {
  z-index: 2;
  position: absolute;
  font-family: "Mulish", sans-serif;
  font-size: 1.5em;
  color: white;
  margin-top: 1em;
  text-align: center;
}

.content-wrapper {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  width: 100%;
}/*# sourceMappingURL=accueilBack.css.map */