@use "./styleCom" as *;
@use "../tools/vFront" as *;
@use "../components/fonts" as *;

body{
    margin: 0;  
}

// main{
//     padding-top: 80px;
// }

.anonnces_produits {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    padding-top: 100px;
}

.annonce_produit {
    background-color: $colS;
    border-radius: $radius;
    width: 40%;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        background-color: rgb(217, 217, 217);
        margin-bottom: 1rem;
    }
}

.boutton {
    background-color: $colP;
    color: white;
    font: {
        family: $Poltext;   
    }
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 8px;
}


.annonce_produit_large {
    width: 65%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        height: 250px;
    }
}


.separateur {
    background-color: $eleOrange;
    width: 98%;
    height: 10px;
    border-radius: $radius;

}

.aff_prod{
    margin-left: 30px;
}


.nav-cat{
    width: 100%;
    background-color: $eleBleu;
    position: fixed;
    z-index: 1000;
    display: flex;
    flex-direction: row;

    svg, a{
        align-self: center;
        color: $noir;
        font: {
            size: $MoyTitle;
            weight: bold;
        }
        text-decoration: none;
        background-color: $eleBleu;
        padding: 15px;
        padding-right: 30px;
        cursor: pointer;
    }
}

.overlayMenuCat{
    z-index: 999;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.overlayContentCat {
    position: fixed;
    background: $eleBleu;
    padding: 2rem;
    padding-left: 1rem;
    text-align: left;
    max-width: 400px;
    min-width: 200px;
    height: 100%;
    top: 100px;
    left: 0;
    

    ul{
        padding-inline-start: 1rem;
        li{
            list-style: none;
            margin-bottom: 1rem;
            a{
                text-decoration: underline;
                font: {
                    family: $Poltext;
                    size: $MoyTitle;
                    weight: 600;
                    
                }
                color: $noir;
            }
        }
        ul > li > a{
            text-decoration: none;
            font-size: $txtSize;
            font-weight: normal;
        }

        ul > li{
            margin-left: 1rem;

        }
    }
}

.tab-only{
    display: none;
}




