@use "sass:math";
@use "./styleCom" as *;
@use "../tools/vFront" as *;
@use "../components/fonts" as *;
@use "../components/carte" as *;
//@use "../components/carte";
@import url("bootstrap/scss/utilities/api");

$wCard:240px;
$hCard: 360px;
$hCard-mob: 280px;



body{
    margin: 0;  
}

// main{
//     padding-top: 80px;
// }

.bienvenue{
    padding: 0 50px;
    padding-top: 30px;
    img{
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}

.bienvenue{
    padding: 0 50px;
    padding-top: 30px;
    display:flex;
    justify-content: center;
}

.carousel {
    position: relative;
    width: 65%;
    z-index:1;
    overflow: hidden;
    border-radius: 8px;
    @media screen and (max-width: 428px){
        width: 100%;
    }
    margin-bottom: 80px;
}

.carousel-track {
    display: flex;
    width: 100%;
    transition: transform 0.6s ease;
}



.carousel img {
    width: 100%;
    flex-shrink: 0;
    border-radius: 8px;
}

@media(max-width: 428px){
    .bienvenue {
        padding: 0 15px;
        padding-top: 20px;
    }
}

.bouton {
    background-color: $colP;
    color: white;
    font: {
        family: $Poltext;   
    }
    text-decoration: none;
    padding: 1rem 1.5rem;
    border-radius: 8px;
}
a{
    text-decoration: none;
}

.annonce_produit_large {
    width: 65%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        height: 250px;
    }

    @media screen and (max-width: 428px){
        width: 100%;
        img{
            height: 100px;
        }
    }
}


.separateur {
    background-color: $eleOrange;
    width: 98%;
    height: 10px;
    border-radius: $radius;

}

.aff_prod{
    margin-left: 30px;
}
.a-cat{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}
// .grid-produits {
//     display: grid;
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//     gap: 2rem;
//     justify-items: center;
//     padding: 2rem;

//     @media screen and (max-width: 428px) {
//         grid-template-columns: 1fr 1fr;
//         padding: 0;
//         padding-top: 1rem;
//         gap: 0;
//     }
// }

.grid-produits{
    overflow-x: scroll;
    
    min-width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: $marg;  
}

