@use '../tools/vback.scss' as *;
@use '../components/fonts.css' as *;
@use '../style/styleCom.scss' as *;
@use "../tools/mixin/com" as *;
@use 'sass:color';

header{
    position:relative;
    display: flex;
    flex-direction: row;
    background-color: $colP;
    
    .logo_alizon_back{
        width: 118px;
        height: auto;
        margin: 1em 2em 1em 2em;
    }

    h1{
        color: white;
        font-family: $Poltitle , sans-serif;
        font-size: 2em;
        margin: 0 22em 0 0;
    }

    a {
        display: flex;
        outline:none;
        text-decoration: none;
        h2{
        color: white;
        font-family: $Poltitle , sans-serif;
        font-size: 1.5em;
        margin: 0 2em 0 0;
        
        }
        .ajout{
            margin: 0 0.5em 0 2em;
            width: auto;
            height: auto;
            flex-direction: row;
        }
        .user{
            width: 2em;
            height: auto;
            margin: 0 0.5em 0 2em;
            flex-direction: row;
        }
    }
    
}

main{
    padding-bottom:2em;
    display:flex;
    flex-direction:column;
    align-items:center;
    
}
form{
    border:#A1A1A1 solid 0.01em;
    border-radius:$radius;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    width:50em;
    margin-top:1em;
    align-self:center;
    padding:2em;
    
    textarea{
        border:solid 1px;
        border-radius:$radius;
        height:10em;
        margin:10px 0;
        padding:10px;
        resize: none;
    }
    select {
        @include bouton($colP);
        border-radius:$radius;
        margin:10px 0;
        padding:10px;
        border: none;
        font-size:1em;
        max-width: 225px;
    }
    input{
        border:solid 1px;
        border-radius:$radius;
        height:3em;
        margin:10px 0;
        padding:10px;
        &::file-selector-button{
            @include bouton($colP);
            border: none;
            
        }
        &#photoProd{
            border:none;
            font-size:0.8em;
        }
        .bouton{
        height:5em;
        font-size:$MoyTitle;
            
        }
        
    }
    h2{
            margin: 0;
        }
    label::after{
            content: " *";
            color:red;
    }

    .taille{
        label::after{
            content: "";
            color:none;
        }
    }
    .pObl::after{
        content: "";
        color:none;
    }
            
        
        
}

.labelInput{
    display:flex;
    flex-direction: column;
    
}
.button{
        font-family: $Poltext;
        background-color: $eleBleu;
        border-radius:$radius;
        height:3em;
        margin:10px 0;
        padding:10px;
        width: 25%;
        text-align: center;
        color:$noir;
        text-decoration: none;
}
.bouton{
    @include bouton($colP);
    &:hover{
        background-color : color.change($colP, $lightness: 40%);
    }
    &:active{
        background-color : color.change($colP, $lightness: 10%);
    }
}
