@use '../tools/vback.scss' as *;
@use '../components/fonts.css' as *;
@use '../style/styleCom.scss' as *;

header{
    display: flex;
    flex-direction: row;
    background-color: $colP;
    
    .logo_alizon_back{
        width: 118px;
        height: auto;
        margin: 1em 2em 1em 2em;
    }

    h1{
        color: white;
        font-family: $Poltitle , sans-serif;
        font-size: 2em;
        margin: 0 22em 0 0;
    }

    a {
        display: flex;
        outline:none;
        text-decoration: none;
        h2{
        color: white;
        font-family: $Poltitle , sans-serif;
        font-size: 1.5em;
        margin: 0 2em 0 0;
        
        }
        .ajout{
            margin: 0 0.5em 0 2em;
            width: auto;
            height: auto;
            flex-direction: row;
        }
        .user{
            width: 2em;
            height: auto;
            margin: 0 0.5em 0 2em;
            flex-direction: row;
        }
    }
    
}
main{
    margin-left : 3em;
    h1{
        font-family: $Poltitle , sans-serif;
        font-size: 2em;
        color: $colS;
    }
    p{
        font-family: $Poltext , sans-serif;
        font-size: 1.2em;
        color: $noir;
    }

}
.btnAcceuil{        
    display: flex;
    flex-direction: row;   
        a {
            padding: 0.5em 1em;
            margin: 1em 0;
            width: 15em;
            height: 1.5em;
            display: flex;
            font-weight: bold;
            font-size: 24px;
            font-family: $Poltext, sans-serif;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: $eleOrange;
            color: $noir;
            border-radius: $radius;
            text-decoration: none;
            margin-bottom: 1em;
            &:hover {
                background-color: darken($eleOrange, 10%);
            }
            &:last-child{
                margin-left: 22em;
            }
    }
    
}