@use '../tools/vback.scss' as *;
@use '../components/fonts.css' as *;
@use '../style/styleCom.scss' as *;
@use 'sass:color';

header{
    display: flex;
    flex-direction: row;
    background-color: $colP;
    
    .logo_alizon_back{
        width: 118px;
        height: auto;
        margin: 1em 2em 1em 2em;
    }

    h1{
        color: white;
        font-family: $Poltitle , sans-serif;
        font-size: 2em;
        margin: 0 22em 0 0;
    }

    a {
        display: flex;
        outline:none;
        text-decoration: none;
        h2{
        color: white;
        font-family: $Poltitle , sans-serif;
        font-size: 1.5em;
        margin: 0 2em 0 0;
        
        }
        .ajout{
            margin: 0 0.5em 0 2em;
            width: auto;
            height: auto;
            flex-direction: row;
        }
        .user{
            width: 2em;
            height: auto;
            margin: 0 0.5em 0 2em;
            flex-direction: row;
        }
    }
    
}
main{
    margin-left : 3em;
    h1{
        font-family: $Poltitle , sans-serif;
        font-size: 2em;
        color: $colS;
    }
    p{
        font-family: $Poltext , sans-serif;
        font-size: 1.2em;
        color: $noir;
    }

}
.btnAcceuil{        
    display: flex;
    flex-direction: row;   
        a {
            padding: 0.5em 1em;
            margin: 1em 0;
            width: 15em;
            height: 1.5em;
            display: flex;
            font-weight: bold;
            font-size: 24px;
            font-family: $Poltext, sans-serif;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: $eleOrange;
            color: $noir;
            border-radius: $radius;
            text-decoration: none;
            margin-bottom: 1em;
            &:hover {
                background-color: color.adjust($eleOrange, $lightness: -10%);
                cursor: pointer;
            }
            &:last-child{
                margin-left: 22em;
            }
    }
    
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.25em;
    gap: 1.25em;
    box-sizing: border-box;


    div{
        display: grid;
        grid-template-columns: repeat(2, 11.75em);
        gap: 1.25em;
        justify-content: start;
        align-items: start;
    }

    margin-left : 4em;
    background-color: $colS;
    width: 30em;
    height: 50em;
    border-radius: 24px;



    h1{
        font-family: $Poltitle , sans-serif;
        font-size: 2em;
        color: $noir;
        text-align: center;
        margin-top: 1em;
    }
    
}

.reduction {
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: left; 
    background-color: $blanc;
    border-radius: 24px;
    width: 11.75em;
    height: 11.75em;
    margin-left: 1.25em;
    text-decoration: none;
    position: relative;
    padding-top: 0.75em;
    box-sizing: border-box;

    > svg {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 2;
    }

    img {
        position: static; 
        z-index: 1;
        width: 5.5em;
        height: 5.5em;
        border-color: $noir;
        border-radius: 24px;
        border: 2px solid;
        margin-left: 10px;
    }

    p {
        margin: 0;
    }

    .nomArticle {
        padding-left: 10px;
        font-family: $Poltext , sans-serif;
        font-size: 1em;
        color: $noir;
        text-align: left;
        margin-top: 0.25em; 
    }

    .prixBase {
        padding-left: 10px;
        font-family: $Poltext , sans-serif;
        font-size: 0.75em;
        color: $noir;
        text-decoration: line-through;
        text-decoration-color: $noir;
        text-decoration-thickness: 2px;
        text-align: left;
    }

    div {
        display: flex;
        flex-direction: row;
        align-items: center; 
        width: 100%; 
        justify-content: flex-start;
        gap: 0.25em; 
        position: relative; 

        .prixReduc {
            font-family: $Poltext , sans-serif;
            font-size: 1.25em;
            padding-left: 10px;
            margin-right: 0.25em;
            color: $noir;
            font-weight: bold;
        }

        .pourcentReduc {
            font-family: $Poltext , sans-serif;
            font-size: 1em;
            padding-right: 20px;
            color: $inverse;
        }
        .btnModifReduc {
            display: flex;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            svg {
                width: 30px;
                height: 100%;
            }
            &:hover {
                svg circle {
                    fill: color.adjust($eleBleu, $lightness: -10%);
                }
            }
        }
    }
}

.lesAvis{
    background-color: $colS;
    text-decoration: none;
    width: 48.20em;
    h1{
        font-family: $Poltitle , sans-serif;
        font-size: 2em;
        color: $noir;
        text-align: center;
        margin-top: 1em;
    }
}
