@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-regular-webfont.woff") format("woff"), url("../../fonts/baloo2-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-extrabold-webfont.woff") format("woff"), url("../../fonts/baloo2-extrabold-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-medium-webfont.woff") format("woff"), url("../../fonts/baloo2-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-black-webfont.woff") format("woff"), url("../../fonts/mulish-black-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-blackitalic-webfont.woff") format("woff"), url("../../fonts/mulish-blackitalic-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bolditalic-webfont.woff") format("woff"), url("../../fonts/mulish-bolditalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bold-webfont.woff") format("woff"), url("../../fonts/mulish-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-regular-webfont.woff") format("woff"), url("../../fonts/baloo2-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-extrabold-webfont.woff") format("woff"), url("../../fonts/baloo2-extrabold-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-medium-webfont.woff") format("woff"), url("../../fonts/baloo2-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-black-webfont.woff") format("woff"), url("../../fonts/mulish-black-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-blackitalic-webfont.woff") format("woff"), url("../../fonts/mulish-blackitalic-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bolditalic-webfont.woff") format("woff"), url("../../fonts/mulish-bolditalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bold-webfont.woff") format("woff"), url("../../fonts/mulish-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
} 
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-regular-webfont.woff") format("woff"), url("../../fonts/baloo2-regular-webfont.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-extrabold-webfont.woff") format("woff"), url("../../fonts/baloo2-extrabold-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-medium-webfont.woff") format("woff"), url("../../fonts/baloo2-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-black-webfont.woff") format("woff"), url("../../fonts/mulish-black-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-blackitalic-webfont.woff") format("woff"), url("../../fonts/mulish-blackitalic-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bolditalic-webfont.woff") format("woff"), url("../../fonts/mulish-bolditalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bold-webfont.woff") format("woff"), url("../../fonts/mulish-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format("woff"), url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Mulish", "Baloo", "sans-serif";
  font-size: 14px;
  background-color: white;
  color: black;
  margin: 0;
}

main {
  padding-top: 80px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

h1 {
  font-family: "Baloo";
  font-size: 40px;
}

h2 {
  font-family: "Baloo";
  font-size: 32px;
}

h3 {
  font-family: "Baloo";
  font-size: 24px;
}

h4 {
  font-family: "Baloo";
  font-size: 20px;
}

p, label, input {
  font-family: "Mulish";
}

label {
  font-weight: bold;
}

/*###############################
#            HEADER             #
###############################*/
header {
  z-index: 1000;
  position: fixed;
  display: inline-flex;
  background-color: #064082;
  height: 80px;
  width: 100%;
  align-items: center;
}
header .mobile-only {
  display: none;
}
header .logo_alizon_front {
  width: 118px;
  height: auto;
  padding-left: 80px;
  left: 0;
}
header nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}
header nav a {
  padding-right: 20px;
  color: white;
  text-decoration: none;
}
header nav svg {
  padding-right: 10px;
}
@media screen and (max-width: 428px) {
  header .logo_alizon_front {
    padding-left: 30px;
    width: 100px;
  }
  header nav a {
    padding-right: 10px;
    font-size: 12px;
  }
  header .tab-only {
    display: none;
  }
  header .mobile-only {
    display: block;
    padding-left: 20px;
  }
  header nav svg {
    padding-right: 30px;
  }
}

/*###############################
#            FOOTER             #
###############################*/
.footer {
  background-color: #f9f9fb;
  border-top: 4px solid #FCB66B;
  color: #333;
  font-family: "Mulish";
  padding-top: 1rem;
}
.footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr;
  gap: 2rem;
  align-items: start;
}
.footer .footer-content .footer-section h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.footer .footer-content .footer-section p, .footer .footer-content .footer-section li, .footer .footer-content .footer-section a {
  font-size: 14px;
  color: #444;
  text-decoration: none;
}
.footer .footer-content .footer-section p {
  margin-bottom: 0.3rem;
  margin-top: 0;
}
.footer .footer-content .footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-content .footer-section ul li {
  margin-bottom: 0.3rem;
}
.footer .footer-content .footer-map {
  text-align: center;
}
.footer .footer-content .footer-map img {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}
.footer .footer-bottom {
  background-color: #D1ECF8;
  text-align: center;
  padding: 0.5rem;
  font-size: 14px;
  color: #333;
  border-top: 1px solid #ccc;
}
.footer .footer-logo {
  align-self: center;
}
.footer .logo-mobile-only-footer {
  display: none;
}
.footer .mobile-only {
  display: none;
}
@media screen and (max-width: 428px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-content {
    grid-template-columns: 50% 50%;
    text-align: left;
  }
  .footer .footer-content h3 {
    font-size: 13px;
  }
  .footer .footer-content .footer-logo {
    display: none;
  }
  .footer .footer-bottom {
    font-size: 10px;
  }
  .footer .logo-mobile-only-footer {
    display: block;
    align-self: center;
  }
  .footer .mobile-only {
    display: none;
  }
  .footer .other-account {
    align-self: center;
    text-align: center;
    margin-top: 10px;
  }
}

/*###############################
#        Menu Categorie         #
################################*/
.nav-cat {
  width: 100%;
  background-color: #6CA6E9;
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: row;
}
.nav-cat div {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scrollbar-width: none;
}
.nav-cat h2 {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
}
.nav-cat svg, .nav-cat a {
  z-index: 1000;
  align-self: center;
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  background-color: #6CA6E9;
  padding: 15px;
  padding-right: 30px;
  cursor: pointer;
}
.nav-cat svg {
  overflow: visible;
}

.overlayMenuCat {
  z-index: 998;
  display: none;
  position: fixed;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.overlayContentCat {
  position: absolute;
  background: #6CA6E9;
  padding: 2rem;
  padding-left: 1rem;
  text-align: left;
  max-width: 400px;
  min-width: 200px;
  height: 550px;
  top: 100px;
  left: 0;
  overflow-y: scroll;
  scrollbar-width: none;
}
.overlayContentCat ul {
  padding-inline-start: 1rem;
}
.overlayContentCat ul li {
  list-style: none;
  margin-bottom: 1rem;
}
.overlayContentCat ul li a {
  text-decoration: underline;
  font-family: "Mulish";
  font-size: 24px;
  font-weight: 600;
  color: black;
}
.overlayContentCat ul ul > li > a {
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
}
.overlayContentCat ul ul > li {
  margin-left: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #CD4B22;
}
header .logo_alizon_back {
  width: 118px;
  height: auto;
  margin: 1em 2em 1em 2em;
}
header h1 {
  color: white;
  font-family: "Baloo", sans-serif;
  font-size: 2em;
  margin: 0 22em 0 0;
}
header a {
  display: flex;
  outline: none;
  text-decoration: none;
}
header a h2 {
  color: white;
  font-family: "Baloo", sans-serif;
  font-size: 1.5em;
  margin: 0 2em 0 0;
}
header a .ajout {
  margin: 0 0.5em 0 2em;
  width: auto;
  height: auto;
  flex-direction: row;
}
header a .user {
  width: 2em;
  height: auto;
  margin: 0 0.5em 0 2em;
  flex-direction: row;
}

main {
  margin-left: 3em;
}
main h1 {
  font-family: "Baloo", sans-serif;
  font-size: 2em;
  color: #FFD6C2;
}
main p {
  font-family: "Mulish", sans-serif;
  font-size: 1.2em;
  color: black;
}

.btnAcceuil {
  display: flex;
  flex-direction: row;
}
.btnAcceuil a {
  padding: 0.5em 1em;
  margin: 1em 0;
  width: 15em;
  height: 1.5em;
  display: flex;
  font-weight: bold;
  font-size: 24px;
  font-family: "Mulish", sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #FCB66B;
  color: black;
  border-radius: 1em;
  text-decoration: none;
  margin-bottom: 1em;
}
.btnAcceuil a:hover {
  background-color: rgb(250.9867549669, 157.3443708609, 57.0132450331);
  cursor: pointer;
}
.btnAcceuil a:last-child {
  margin-left: 22em;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.25em;
  gap: 1.25em;
  box-sizing: border-box;
  margin-left: 4em;
  background-color: #FFD6C2;
  width: 30em;
  height: 50em;
  border-radius: 24px;
}
aside div {
  display: grid;
  grid-template-columns: repeat(2, 11.75em);
  gap: 1.25em;
  justify-content: start;
  align-items: start;
}
aside h1 {
  font-family: "Baloo", sans-serif;
  font-size: 2em;
  color: black;
  text-align: center;
  margin-top: 1em;
}

.reduction {
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: white;
  border-radius: 24px;
  width: 11.75em;
  height: 11.75em;
  margin-left: 1.25em;
  text-decoration: none;
  position: relative;
  padding-top: 0.75em;
  box-sizing: border-box;
}
.reduction > svg {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 2;
}
.reduction img {
  position: static;
  z-index: 1;
  width: 5.5em;
  height: 5.5em;
  border-color: black;
  border-radius: 24px;
  border: 2px solid;
  margin-left: 10px;
}
.reduction p {
  margin: 0;
}
.reduction .nomArticle {
  padding-left: 10px;
  font-family: "Mulish", sans-serif;
  font-size: 1em;
  color: black;
  text-align: left;
  margin-top: 0.25em;
}
.reduction .prixBase {
  padding-left: 10px;
  font-family: "Mulish", sans-serif;
  font-size: 0.75em;
  color: black;
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  text-align: left;
}
.reduction div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  gap: 0.25em;
  position: relative;
}
.reduction div .prixReduc {
  font-family: "Mulish", sans-serif;
  font-size: 1.25em;
  padding-left: 10px;
  margin-right: 0.25em;
  color: black;
  font-weight: bold;
}
.reduction div .pourcentReduc {
  font-family: "Mulish", sans-serif;
  font-size: 1em;
  padding-right: 20px;
  color: #FF4444;
}
.reduction div .btnModifReduc {
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.reduction div .btnModifReduc svg {
  width: 30px;
  height: 100%;
}
.reduction div .btnModifReduc:hover svg circle {
  fill: rgb(63.6390532544, 139.1420118343, 226.3609467456);
}

.lesAvis {
  background-color: #FFD6C2;
  width: 48.2em;
}
.lesAvis h1 {
  font-family: "Baloo", sans-serif;
  font-size: 2em;
  color: black;
  text-align: center;
  margin-top: 1em;
}/*# sourceMappingURL=backend.css.map */