@use "./styleCom" as *;
@use "../tools/vFront" as *;
@use "../components/carte";
@use "../tools/mixin/com" as *;
@import url("bootstrap/scss/utilities/api");

.grid-main{
    align-items: stretch;
    display: grid;
    column-gap: 16px;
    grid: 284px minmax(0px, 1fr);
}
a {
    text-decoration: none;
}
.titre-cat{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.separateur {
    display: block;
    background-color: $eleOrange;
    width: auto;
    height: 10px;
    border-radius: $radius;
    @media #{$mobile}{
        display: none;
    }

}
.separateur2{
    display: none;
    background-color: $eleOrange;
    width: 100%;
    height: 10px;
    border-radius: $radius;
    @media #{$mobile}{
        display : block;
        margin-left: $marg;
    }
}
h1{
    display: block;
    margin: {
        top: $pad;
        left: $pad;
    }
    @media #{$mobile}{
        display: none;
    }
}
h2 {
    margin: {
        top: $pad;
        left: #{$pad * 2};
        
    }
    @media #{$mobile} {
            
            margin-left:$pad;
            
        }

}
.card{
    background-color: $colS;
    flex: 0 0 auto;
    margin-top: $marg;
    .button{
        display :flex;
        justify-content: center;
        align-content: center;
        font-family: $Poltext;
        width: 100%;
        margin-top : $marg;
        min-width: 8rem;
        background-color: $eleBleu;
        height: 2rem;
        text-align: center;
        color : $blanc;
        font-weight: bold;
        border:none;
        border-radius: $radius;
        cursor:pointer;
        
    }
    
}
.scroll{
    overflow-x: scroll;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: $marg;  
}
article{
    flex-wrap: wrap;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: $marg;
        
}

.nav-cat{
    display: none;
}
a{
    color:black;
}
.filtres{
    padding: $pad;
    display: none;
    @media screen and (max-width: 100em) {
        display: flex;
        flex-direction: column;
    }
    button{
        @include bouton;
        border:none;
        max-width: 100px;

    }
}
aside{
    @media screen and (max-width: 100em) {
        display: none;
    }
    display:flex;
    flex-direction: column;
    grid-area: 1 / 1;
    width: 25%;
    min-width: 250px;
    max-height: 600px;
    div{
        border: 1px solid black;
        border-radius: $radius;
        background-color: #EFEFEF;
    }
    
    hr{
        width: 90%;

    }
}
.vide {
    padding: $pad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40%;

    a {
        color: grey;
        text-decoration: none;
        font-weight: lighter;
        font-style: italic;
    }
}
main > div{
    grid-area: 1 / 2 / 2 / 3;
}