@use "./styleCom" as *;
@use "../tools/vFront" as *;
@use "../components/carte";

.separateur {
    background-color: $eleOrange;
    width: auto;
    height: 10px;
    border-radius: $radius;

}
h1{
    margin: {
        top: $pad;
        left: $pad;
    }
}
h2 {
    margin: {
        top: $pad;
        left: #{$pad * 2};
    }
}
.card{
    @extend .card;
    background-color: $colS;
    @media #{$tablette}{
        background-color: $colP;
    }
    @media #{$mobile}{
        color:green;
    }
}

article{
    width: max-content;
    display: flex;
    flex-direction: row;
    
}