@use "./styleCom" as *;
@use "../tools/vFront" as *;
@use "../components/carte";
@import url("bootstrap/scss/utilities/api");

.separateur {
    background-color: $eleOrange;
    width: auto;
    height: 10px;
    border-radius: $radius;

}
h1{
    margin: {
        top: $pad;
        left: $pad;
    }
}
h2 {
    margin: {
        top: $pad;
        left: #{$pad * 2};
    }
}
.card{
    background-color: $colS;
    flex: 0 0 auto;
    
    
}

article{
    overflow-x: scroll;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    
}