@use "./styleCom" as *;
@use "../tools/vFront" as *;
@use "../components/carte";
@use "../tools/mixin/com" as *;
main{
    display: grid;
    column-gap: 16px;
    grid-template-columns: 284px minmax(0, 1fr);
    min-height: 650px;
    @media #{$mobile} {
        display:flex;
        
    }
}
a {
    text-decoration: none;
}
.titre-cat{
    display: flex;
    flex-direction: row;
    align-items: center;
}


h1{
    display: block;
    margin: {
        top: $pad;
        left: $pad;
    }
    @media #{$mobile}{
        display: none;
    }
}
h2 {
    margin: {
        top: $pad;
        left: #{$pad * 2};
        
    }
    @media #{$mobile} {
            
            margin-left:$pad;
            
        }

}
.card{
    background-color: $colS;
    flex: 0 0 auto;
    margin-top: $marg;
    .button{
        display :flex;
        justify-content: center;
        align-content: center;
        font-family: $Poltext;
        width: 100%;
        margin-top : $marg;
        min-width: 8rem;
        background-color: $eleBleu;
        height: 2rem;
        text-align: center;
        color : $blanc;
        font-weight: bold;
        border:none;
        border-radius: $radius;
        cursor:pointer;
        
    }
    
}
.scroll{
    overflow-x: scroll;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: $marg;  
}
article{
    flex-wrap: wrap;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: $marg;
        
}

.nav-cat{
    display: none;
}
a{
    color:black;
}
.filtres{
    padding: $pad;
    display: none;
    @media #{$mobile} {
        display: flex;
        flex-direction: column;
    }
    button{
        @include bouton;
        border:none;
        max-width: 100px;

    }
}
main > div{
    grid-area: 1 / 2 / 2 / 3;
}


/*
TRIS & Filtres
*/
.tri{
    padding: $pad;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

aside{
    @media #{$mobile} {
        display: none !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 80%;
        height: 100vh;
        background: white;
        z-index: 1000;
        overflow-y: auto;
        box-shadow: 2px 0 10px rgba(0,0,0,0.3);
        transition: transform 0.3s ease;
        transform: translateX(-100%);
        &.mobile-open {
            display: flex !important;
            transform: translateX(25%);
            
        }
        
    }
    
    .btn-fermer-filtres {
        display: none;
        @media #{$mobile} {
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            cursor: pointer;
            padding: 5px;
        }
    }
    
    .filtres-desktop {
        @media #{$mobile} {
            display: none !important;
        }
    }
    grid-area: 1 / 1;
    display:flex;
    flex-direction: column;
}
aside{
    
    width: 25%;
    min-width: 250px;
    max-height: 600px;
    div{
        border-radius: $radius;
        background-color: #EFEFEF;
    }
    .separateur{width: 90%; margin: 0 auto;}
    hr{
        width: 90%;

    }
    h3{
        margin: 0 $marg;
    }

    input[type="radio"]{ // Code ytb "How to make radio buttons cool again"
        
        width: 1px !important;
        height: 1px !important;
        //clip : rect(1px,1px,1px,1px);
        border:0 !important;
        padding: 0;
        position: absolute !important;
        overflow: hidden;
    }
    label{
        display: inline-flex;
        align-items: center;
        color: gray;
    }
    .label-retour::before{
        content:'';
        display: none;
    }
    label::before{
        content:'';
        display: block;
        width: 1.25em;
        height: 1.25em;
        border: solid 1px #ccc ;
        border-radius: 50%;
        margin-right: 0.5em;
        transition: border ease-in 150ms,box-shadow ease-in 150ms;
    }
    input[type="radio"]:checked + label,
    input[type="radio"]:focus + label{
        color: black;
    }

    input[type="radio"]:checked + label::before{
        background: radial-gradient(0.75em circle at center, currentColor 50%,
        transparent 55%);
        box-shadow: 0 0 1em 0 rgba(10, 150, 255, 0.75);
        border-color: currentColor;
    }
    input[type="radio"]:focus + label::before{
        box-shadow: 0 0 1em 0 rgba($eleOrange, 0.75);
        border-color: currentColor;
    }
    

    .noter {
        display: flex;
        justify-content: center;
        gap: 10px;
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .noter span {
        font-size:1.6rem;
        cursor: pointer;
        color: transparent;
        -webkit-text-stroke: 2px #f5b301; 
        transition: 0.2s;
    }

    .noter span.full {
        color: #f5b301;
        -webkit-text-stroke: 2px #f5b301;
    }
    select{
        appearance: base-select;
        font-size: 16px;
        border: 1px solid $colP;

        width: 90%;
        margin: 0 12px;
        background-color: #EFEFEF;
        &, &::picker{
            
            padding:1em;
            border:none;
            border-radius:$radius;

        }
        
    }
    // Slider 
    input[type="range"]::-webkit-slider-thumb {
        height: 20px;
        width: 20px;
        border-radius: 70%;
        background: #555;
        pointer-events: auto;
        -webkit-appearance: none;
    }
    .slider-container{
        //background-color: #fff;
        margin: $marg;
        transition: transform 0.2s;
    }
    .slider-container:hover {
        transform: scale(1.05);
    }
    .price-input{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    input[type=number]{
        background-color: inherit;
        text-align: center;
        border: none;
        width: 40px;
    }


    .slider {
        width: 100%;
        height: 8px;
        position: relative;
        border-radius: 5px;
    }

    .slider .price-slider {
        height: 100%;
        left: 0%;
        right: 0%;
        position: absolute;
        border-radius: 5px;
        background: $colP;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .range-input {
        position: relative;
    }

    .range-input input {
        position: absolute;
        width: 100%;
        height: 5px;
        background: none;
        top: -7px;
        
        pointer-events: none;
        cursor: pointer;
        -webkit-appearance: none;
    }
    .reset{
        display: flex;
        padding: $pad;

        justify-content: end;
        a{
            color: #555;
            font-weight: bolder;
            
        }
        
        
    }
}

.flr-tel{
    border:none;
    background: none;
    width: 80%;
    height: 100%;
    overflow: hidden;
    &::backdrop {
        background: rgba(0, 0, 0, 0.4);
    }
    > div{
        height: 100%;
    }
}
