@use "./styleCom" as *;
@use "../tools/vFront" as *;
@use "../components/carte";
@import url("bootstrap/scss/utilities/api");

a {
    text-decoration: none;
}
.titre-cat{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.separateur {
    display: block;
    background-color: $eleOrange;
    width: auto;
    height: 10px;
    border-radius: $radius;
    @media #{$mobile}{
        display: none;
    }

}
.separateur2{
    display: none;
    background-color: $eleOrange;
    width: 100%;
    height: 10px;
    border-radius: $radius;
    @media #{$mobile}{
        display : block;
        margin-left: $marg;
    }
}
h1{
    display: block;
    margin: {
        top: $pad;
        left: $pad;
    }
    @media #{$mobile}{
        display: none;
    }
}
h2 {
    margin: {
        top: $pad;
        left: #{$pad * 2};
        
    }
    @media #{$mobile} {
            
            margin-left:$pad;
            
        }

}
.card{
    background-color: $colS;
    flex: 0 0 auto;
    
    
}

article{
    overflow-x: scroll;
    
    min-width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: $marg;
    
}

.nav-cat{
    display: none;
}