@use "./backoffice/styleComB" as *;
@use "../tools/vback" as *;
@use "../components/carte" as *;
@use "../tools/mixin/com" as *;



.separateur {
    display: block;
    
    background-color: $eleBleu;
    width: 80%;
    margin: 1em auto 0 auto;
    height: 10px;
    border-radius: $radius;
    

}

.vide {
    padding: $pad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40%;

    a {
        color: grey;
        text-decoration: none;
        font-weight: lighter;
        font-style: italic;
    }
}
@mixin btn {
    font-family: $Poltext;
    width: 100%;
    margin-top: $marg;
    min-width: 8rem;
    height: 2rem;
    text-align: center;
    color: $noir;
    font-weight: bold;
    font-size: larger;
    background-color: $eleOrange;
    border: none;
    border-radius: $radius;
    cursor: pointer;
}
input{
    @include btn;
}
.cmd{
    display: flex;
    justify-content: center;
    flex-direction: column;
        article{
        border-radius: $radius;
        margin-top: $marg;
        padding: $pad;
        width: 40%;
        background-color: $colS;
        display: flex;
        align-self: center;
        flex-direction: column;

        div{
            padding: 0 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            img{
                border-radius: $radius;
                width: 30%;
            }
            

        }
        .info{
            padding: 0 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
        .button{
            
            @include bouton;
            height: 4em;
            align-content: center;
        }
        
    }
}
table{
    background-color: $colS;
    border-collapse: collapse;
    border: 2px solid $colP;
    font-family: $Poltext;
    width: 70%;
    font-size: 0.8rem;
    margin: 0 auto;
    
    
    
    thead{
        background-color: $colP;
        color : $blanc;
    }
    
    th,
    td {
        border: 1px solid $colP;
        padding: 12px 15px;
    }
}