@use "./styleCom" as *;
@use "../tools/vFront" as *;
@use "../components/carte" as *;
@use "../tools/mixin/com" as *;


.titre-cat{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.separateur{
    display: block;
    background-color: $eleOrange;
    width: 100%;
    height: 10px;
    border-radius: $radius;
    @media #{$mobile}{
        display : block;
        margin-left: $marg;
    }
}
h1{
    display: block;
    width: 30%;
    margin: {
        top: $pad;
        left: $pad;
    }
    @media #{$mobile} {
        width: 80%;
    }
    
}

article {
    background-color: $colS;
    padding: $pad;
    border-radius: $radius;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    @media #{$mobile} {
        width: 80%;
        flex-direction: column;
        
    }
    div{
        display: flex;
        flex-direction: column;
        p:first-child{
            margin-top: 1em 0 ;
            
        }
        p:last-child{
            margin-top: 0 ;
            margin-bottom: 1em;
        }
        
    }
}
table{
    background-color: $colS;
    border-collapse: collapse;
    border: 2px solid $colP;
    font-family: $Poltext;
    width: 70%;
    font-size: 0.8rem;
    margin: 0 auto;
    @media #{$mobile} {
        width: 100%;
    }
    
    
    thead{
        background-color: $colP;
        color : $blanc;
    }
    
    th,
    td {
        
        border: 1px solid $colP;
        padding: 12px 15px;
    }
    a{
            text-decoration: none;
        }
}
.btn-prod{
    display: flex;
    align-items: end;
    color:$noir;
    
}
section{ //pour les svg de l'avancement commande
    display: flex;
    justify-content: center;
    div{
        display: flex;
        flex-direction: row;
        div{
            display:flex;
            flex-direction: column;
            
            justify-items: center;
        }
    }
}
section>div>div>p{
    text-align: center;
    justify-self: center;
}