@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-regular-webfont.woff") format("woff"), url("../../fonts/baloo2-regular-webfont.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-extrabold-webfont.woff") format("woff"), url("../../fonts/baloo2-extrabold-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-medium-webfont.woff") format("woff"), url("../../fonts/baloo2-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-black-webfont.woff") format("woff"), url("../../fonts/mulish-black-webfont.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-blackitalic-webfont.woff") format("woff"), url("../../fonts/mulish-blackitalic-webfont.woff2") format("woff2");
  font-weight: medium;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bolditalic-webfont.woff") format("woff"), url("../../fonts/mulish-bolditalic-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bold-webfont.woff") format("woff"), url("../../fonts/mulish-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} 
body {
  font-family: "Mulish", "Baloo", "sans-serif";
  font-size: 14px;
  background-color: white;
  color: black;
  margin: 0;
}

h1 {
  font-family: "Baloo";
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-family: "Baloo";
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: "Baloo";
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-family: "Baloo";
  font-size: 20px;
  font-weight: bold;
}

p, label, input {
  font-family: "Mulish";
}

label {
  font-weight: bold;
}

/*###############################
#            HEADER             #
###############################*/
header {
  display: flex;
  flex-direction: row;
  background-color: #CD4B22;
  align-items: center;
  justify-content: space-between;
}
header .logo_alizon_back {
  width: 118px;
  height: auto;
  margin: 1em 2em 1em 2em;
}
header h1 {
  color: white;
  font-family: "Baloo", sans-serif;
  font-size: 2em;
  margin-top: 1em;
}
header div {
  display: flex;
}
header a {
  display: flex;
  outline: none;
  text-decoration: none;
}
header a h2 {
  color: white;
  font-family: "Baloo", sans-serif;
  font-size: 1.5em;
  margin: 0 2em 0 0;
}
header a .ajout {
  margin: 0 0.5em 0 2em;
  width: 2em;
  height: auto;
  flex-direction: row;
}
header a .user {
  width: 2em;
  height: auto;
  margin: 0 0.5em 0 2em;
  flex-direction: row;
}

/*###############################
#            FOOTER             #
###############################*/
.footer {
  background-color: #f9f9fb;
  border-top: 4px solid #6CA6E9;
  color: #333;
  font-family: "Mulish";
  padding-top: 1rem;
  margin-top: 2em;
}
.footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr;
  gap: 2rem;
  align-items: start;
}
.footer .footer-content .footer-section h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.footer .footer-content .footer-section p, .footer .footer-content .footer-section li, .footer .footer-content .footer-section a {
  font-size: 14px;
  color: #444;
  text-decoration: none;
}
.footer .footer-content .footer-section p {
  margin-bottom: 0.3rem;
  margin-top: 0;
}
.footer .footer-content .footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-content .footer-section ul li {
  margin-bottom: 0.3rem;
}
.footer .footer-content .footer-map {
  text-align: center;
}
.footer .footer-content .footer-map img {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}
.footer .footer-bottom {
  background-color: #FFD6C2;
  text-align: center;
  padding: 0.5rem;
  font-size: 14px;
  color: #333;
  border-top: 1px solid #ccc;
}
.footer .footer-logo {
  align-self: center;
  display: flex;
}

body .header {
  padding-left: 50px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
body .header h1 {
  margin-left: 20px;
}
body main {
  padding: 150px;
  margin: auto;
  width: 1140px;
}
body main span {
  display: none;
  color: #6e6e6e;
}
body main input:user-invalid, body main input.invalid {
  border-color: red;
}
body main input:user-invalid + span, body main input.invalid + span {
  display: block;
}
body main .alignementPR_IE {
  border: black 2px solid;
  border-radius: 16px;
  display: flex;
}
body main .alignementPR_IE div {
  padding-left: 40px;
  padding-bottom: 65px;
  width: 480px;
  padding-top: 0;
}
body main .alignementPR_IE div h2, body main .alignementPR_IE div h3 {
  text-align: center;
}
body main .alignementPR_IE div h2 {
  font-size: 32px;
}
body main .alignementPR_IE div h3 {
  font-size: 24px;
}
body main .alignementPR_IE div h5 {
  font-size: 16px;
}
body main .alignementPR_IE div input {
  background-color: white;
  border-radius: 8px;
  height: 40px;
  font-size: 16px;
}
body main .alignementPR_IE .nomPrenom {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-bottom: 0;
}
body main .alignementPR_IE .labelInput {
  padding-left: 0;
  padding-bottom: 0;
}
body main .alignementPR_IE :nth-child(3) h3 {
  padding-top: 70px;
}
body main .alignementPR_IE .dimension {
  width: 430px;
}
body main .alignementPR_IE .dimension_petit {
  width: 190px;
}
body main .alignementPR_IE .num_adresse {
  width: 150px;
  margin-right: 20px;
}
body main .alignementPR_IE .rue_adresse {
  width: 250px;
}
body main .button {
  padding-top: 50px;
  text-align: center;
}
body main .button button {
  height: 55px;
  width: 430px;
  background-color: #CD4B22;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 16px;
}/*# sourceMappingURL=creer_compte_vendeur.css.map */