@use "../tools/vback" as *;
@use "backoffice/styleComB" as *;


main {
    padding: 150px;
    margin : auto;
    width: 1140px;
    .header {
        padding-left: 50px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
    }
    h1 {
        margin-left: 20px;
    }
    span{
        display:none;
        color:#6e6e6e;
    }
    input {
        &:user-invalid, &.invalid{
            border-color:red;
            &+span{
                display:block;
            }
        }
    }
    .main {
        border: black 2px solid;
        border-radius: 16px;
        display: flex;
        section {
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 65px;
            width: 480px;
            padding-top: 0;
            h2, h3 {
                text-align: center;
            }
            label {
                font-size: 16px;
                padding-bottom: 10px;
                font-family: "Baloo";
            }
            input {
                background-color: $blanc;
                border-radius: 8px;
                height: 40px;
                font-size: 16px;
                border: $noir 2px solid;
                font-family: "Baloo";
            }
            .label {
                padding-top: 20px;
                display: flex;
                flex-direction: column;
                
            }
            .alignementdesentrer{
            display:flex;
            padding-left:0;
            padding-bottom: 0; 
            }
            .label {
                padding-right: 50px;
            }
        }
        
        :nth-child(3) h3{
            padding-top: 78px;
        }
        
        
    }
    
    .boutton {
        padding-top: 50px;
        text-align: center;
        button {
            border: none;
            height: 55px;
            width: 430px;
            background-color: $colP;
            color: $blanc;
            font-size: $MoyTitle;
            font-weight: bold;
            border-radius: 16px;
        }
    }
}
