@use './styleCom' as *;
@use '../tools/vFront' as *;
@use "../tools/mixin/com" as *;
header{
    justify-self:center;
    margin :1em 0;
}
body{
    padding-bottom:2em;
}
form{
    border:#A1A1A1 solid 0.01em;
    border-radius:$radius;
    display:flex;
    flex-direction:column;
    width:30%;
    justify-self:center;
    padding:2%;

    input{
        border:solid 1px;
        border-radius:$radius;
        height:3em;
        margin:10px 0;
        padding:10px;
        &::file-selector-button{
            @include bouton;
        }
        &#photoCli{
            border:none;
        }
    }

    .btn{
        @include bouton;
        height:5em;
    }
    .btnSec{
        background-color: $eleBleu;
    }

}

aside{
    display:flex;
    flex-direction: column;
    justify-self:center;
    figure{
        display:flex;
        img{
            margin: 0 10px;
        }
    }

    .btn{
        @include bouton;
        padding:1em;
        width:80%;
        margin-bottom:1em;
    }
    .btnJaune{
        @include bouton;
        background-color:$eleOrange; 
        color:black;
        width:50%;
        height:2em;
    }

    nav{
        display:flex;
        flex-direction: column;
        align-items:center;
    }
}
form div{
    display:flex;
    justify-content: space-between;
    
    
}
.labelInput{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    width:auto;
}

#nomCli{
    width:100%;
}

#nomRueCli{
    width:100%;
}
#numRueCli{
    width:fit-content;

}
