@use './styleCom' as *;
@use '../tools/vFront' as *;
@use "../tools/mixin/com" as *;
header{
    justify-self:center;
    margin :1em 0;
}
form{
    border:#A1A1A1 solid 0.01em;
    border-radius:$radius;
    display:flex;
    flex-direction:column;
    width:30%;
    justify-self:center;
    padding:2%;

    input{
        border:solid 1px;
        border-radius:$radius;
        height:3em;
        margin:10px 0;
        padding:10px;
        &::file-selector-button{
            @include bouton;
        }
        &#photo{
            border:none;
        }
    }

    .btn{
        @include bouton;
    }
    .btnSec{
        background-color: $eleBleu;
    }

}

aside{
    display:flex;
    flex-direction:row;
    justify-self:center;
    img{
        margin: 0 10px;
    }
}

