@use './styleCom' as *;
@use '../tools/vFront' as *;
@use "../tools/mixin/com" as *;
header{
    justify-self:center;
    margin :1em 0;
}
main{
    padding-bottom:2em;
    display:flex;
    flex-direction:column;
    align-items:center;
}
form{
    border:#A1A1A1 solid 0.01em;
    border-radius:$radius;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    width:50em;
    align-self:center;
    padding:2em;
    span{
        display:none;
        color:#6e6e6e;
    }
    input{
        border:solid 1px;
        border-radius:$radius;
        height:3em;
        margin:10px 0;
        padding:10px;
        &::file-selector-button{
            @include bouton;
        }
        &#photoCli{
            border:none;
        }
        &:user-invalid, &.invalid{
            border-color:red;
            &~span{
                display:block;
            }
        }
    }

    .bouton{
        @include bouton;
        height:5em;
    }
    .btnSec{
        background-color: $eleBleu;
    }

}

aside{
    display:flex;
    flex-direction: column;
    
    figure{
        display:flex;
        justify-content: center;
        flex-direction: row;
        align-items:center; 
        img{
            margin: 0 10px;
            height:1px;
        }
    }

    .bouton{
        @include bouton;
        padding:1em;
        width:80%;
        margin-bottom:1em;
    }
    .btnJaune{
        @include bouton;
        background-color:$eleOrange;
        padding-top:1em; 
        color:black;
        width:50%;
        height:2em;
    }

    nav{
        display:flex;
        flex-direction: column;
        align-items:center;
    }
}

.labelInput{
    display:flex;
    flex-direction: column;
}

#nomCli{
    width:100%;
}


