@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-regular-webfont.woff") format("woff"), url("../../fonts/baloo2-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-extrabold-webfont.woff") format("woff"), url("../../fonts/baloo2-extrabold-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-medium-webfont.woff") format("woff"), url("../../fonts/baloo2-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-black-webfont.woff") format("woff"), url("../../fonts/mulish-black-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-blackitalic-webfont.woff") format("woff"), url("../../fonts/mulish-blackitalic-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bolditalic-webfont.woff") format("woff"), url("../../fonts/mulish-bolditalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bold-webfont.woff") format("woff"), url("../../fonts/mulish-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format("woff"), url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
}
body {
  padding: 150px;
  margin: auto;
  width: 1140px;
}
body h1, body h2, body h3, body h5 {
  font-family: "Baloo";
}
body p {
  font-family: "Mulish";
  font-size: 14px;
}
body header {
  padding-left: 50px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
body header h1 {
  margin-left: 20px;
  font-family: "Baloo";
  font-size: 40px;
}
body main span {
  display: none;
  color: #6e6e6e;
}
body main input:user-invalid, body main input.invalid {
  border-color: red;
}
body main input:user-invalid + span, body main input.invalid + span {
  display: block;
}
body main .alignementPR_IE {
  border: black 2px solid;
  border-radius: 16px;
  display: flex;
}
body main .alignementPR_IE div {
  padding-left: 40px;
  padding-bottom: 65px;
  width: 480px;
  padding-top: 0;
}
body main .alignementPR_IE div h2, body main .alignementPR_IE div h3 {
  text-align: center;
}
body main .alignementPR_IE div h2 {
  font-size: 32px;
}
body main .alignementPR_IE div h3 {
  font-size: 24px;
}
body main .alignementPR_IE div h5 {
  font-size: 16px;
}
body main .alignementPR_IE div input {
  background-color: white;
  border-radius: 8px;
  height: 40px;
  font-size: 16px;
}
body main .alignementPR_IE .nomPrenom {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-bottom: 0;
}
body main .alignementPR_IE .labelInput {
  padding-left: 0;
  padding-bottom: 0;
}
body main .alignementPR_IE :nth-child(3) h3 {
  padding-top: 70px;
}
body main .alignementPR_IE .dimension {
  width: 430px;
}
body main .alignementPR_IE .dimension_petit {
  width: 190px;
}
body main .alignementPR_IE .num_adresse {
  width: 150px;
  margin-right: 20px;
}
body main .alignementPR_IE .rue_adresse {
  width: 250px;
}
body main .button {
  padding-top: 50px;
  text-align: center;
}
body main .button button {
  height: 55px;
  width: 430px;
  background-color: #CD4B22;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 16px;
}/*# sourceMappingURL=creer_compte_vendeur.css.map */