@use "../tools/vback" as *;




body{
    padding: 150px;
    margin : auto;
    width: 1140px;
    header {
        padding-left: 50px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
        h1 {
            margin-left: 20px;
        }
    }
    main {
        border: black 2px solid;
        border-radius: 16px;
        display: flex;
        div {
            padding-left: 40px;
            padding-bottom: 65px;
            width: 510px;
            padding-top:0;
            h2, h3 {
                text-align: center;
            }
            h2{
                font-size: 40px;
            }
            
            
            h5 {
                font-size: 16px;
            }
            input {
                background-color: $blanc;
                border-radius: 8px;
                height: 40px;
                font-size: 16px;
            }
        }
        :nth-child(3) h3{
            padding-top:5.5em;
        }
        .nomprenom {
            padding: 0;
            margin: 0;
        }
        
        
    }
    footer{
        text-align: center;
        button {
            margin-top: 50px;
            background-color: $colP;
            border-radius: 16px;
            height: 55px;
            width: 440px;
            color: $blanc;
            font-size: 24px;
            font-weight: bold;
        }
    }


}