@use './styleCom' as *;
@use '../tools/vFront' as *;

form{
    border:solid #A1A1A1 0.01em;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    width:30%;
    justify-self:center;
    padding:2%;

    input{
        border-radius:10px;
        height:3em;
        margin:10px 0;
      
    }
    
    .btn, #file-upload-button{
        background-color: $colP;
    }
    .btnSec{
        background-color: $eleBleu;
    }
}

