@use './styleCom' as *;
a{
    padding:1em 3em;
    
}

@media print{

    hr{
        display:block;
    }
    .ligneFacture{
        display:flex;
        justify-content: space-between;
    }
    .groupeFact{
        display:flex;
        flex-direction:column;
        p{
            margin:0;
        }
    }
    table{
        width:90%;
        text-align:left;
        margin-top:10%;
        margin-left:5%;
    }
    th,td{
        height:3em;
        border-bottom:solid;
    
    }
    
    .ligneFacture, .groupeFact{
        display:flex;
        font-size:14px;
    }
    a{
        display:none;
    }

}