@use "../tools/vback" as *;
@use "../style/styleComB" as *;


main {
    h1, h2 {
        font-family: $Poltitle;
    }
    p {
        font-family: $Poltext;
    }
    margin-left: 80px;
    margin-right: 80px;
    .image_prod{
        border: black 2px solid;
        margin: 0;
        margin-top: 50px;
    }
    .img_etoile{
        padding-left: 20px;
        svg:last-child{
            margin-right: 20px;
        }
    }
    h1{
        margin-top: 80px;
        margin-bottom: 0;
        padding-left: 20px;
        
    }
    h2 , p{
        margin: 0;
        padding-left: 20px;
    }
    input {
        margin: 20px;
    }
    input:hover {
        border-color: #A1A1A1;
        
    }
    .buton_commentaire {
        width: 250px;
        height: 60px;
        font-size: 16px;
        font-weight: bold;
        background-color: #FCB66B;
        border-radius: 8px;
        border: none;
        cursor: pointer;
    }
    .buton_modif, .buton_ret_cat, .buton_ajt_cat {
        width: 200px;
        height: 70px;
        font-size: 16px;
        font-weight: bold;
        border-radius: 8px;
        border: none;
        cursor: pointer;
    }
    .buton_modif {
        display: inline-flex;
        text-decoration: none;
        background-color: #FCB66B;
        div{
            display: flex;
            justify-content: center;
            color: $noir;
            align-items: center;
            flex-grow: 1;
        }
        width: 200px;
        height: 70px;
    }
    .buton_ajt_cat{
        background-color: $eleBleu;
    }
    .buton_ret_cat {
        background-color: $inverse;
    }
    .alignement_space_betwen {
        display: flex;
        justify-content: space-between;
        align-items: top;
        
    }
    .alignemnt_droite_gauche {
        display: flex;
        align-items: center;
    }
    hr {
        margin-top: 60px;
        margin-left: 10px;
        width: 800px;
    }
    div+h2 {
        padding-top: 20px;
    }
    p {
        font-size: 20px;
    }
    .catego{
        margin-top: 50px;
        display: flex;
        height: auto;
        .caract{
            background-color: $colS;
            margin-right: 50px;
            padding: 20px;
            padding-bottom: 50px;
            border-radius: 16px;
            width: 20em;
            height: auto;
            p {
                padding-top: 1em;
                padding-left: 2em;
                font-size: 22px;
                
            }
            ul li{
                list-style-type: none;
                
            }
        
        }
    }




}
