@use './styleCom' as *;
@use '../tools/vFront' as *;
@use "../tools/mixin/com" as *;
@import "./creerCompteFront.scss";

form{
    input{
        &[disabled]{
            background-color : #ececec;
            color:black;
        }
        
    }
    border:none;
    >h2{
        align-self:center;
    }
    >img{
        width:fit-content;
        align-self:center;
        border-radius:10em;
    }

}
.containerForm{
    border:#A1A1A1 solid 0.01em;
    border-radius:$radius;
    .bouton{
        height:3.5em;
        width:70%;
        align-self:center;
        margin: 1em 0;

    }

    nav{
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    #overlaymdp{
        height:60%;
        width:50%;
    }
    [popover]:popover-open::backdrop{
        background-color: rgb(0 0 0 / 30%);
    }
    [popover]:popover-open{
        border: {
            radius:$radius;
            width:0.1em;
        }
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
}
.erreur{
    color:red;
}