@use './styleCom' as *;
@use '../tools/vFront' as *;
@use "../tools/mixin/com" as *;
@import "./creerCompteFront.scss";

form{
    input{
        &[disabled]{
            background-color : #ececec;
            color:black;
        }
        
    }
    border:none;
    >h2{
        align-self:center;
    }
    @media #{$mobile}{
        margin: {
            left:auto;
            right:auto;
            bottom:0;
        }
        padding-bottom:0;
        #nomPrenomCli, .labelInput{
            width:100%;
        }
    }
}

.containerForm{
    margin-top:$pad;
    border:#A1A1A1 solid 0.01em;
    border-radius:$radius;
    .bouton{
        height:3.5em;
        width:70%;
        align-self:center;
        margin: 1em 0;
    }
    nav{
        display:flex;
        flex-direction: column;
        align-items:center;
    }

}
#overlaymdp, #changerPhoto{
    height:60%;
    width:50%;
    @media #{$mobile}{
        height:90%;
        width:80%;
    }
}
[popover]:popover-open::backdrop{
    background-color: rgb(0 0 0 / 30%);
}
[popover]:popover-open{
    border: {
        radius:$radius;
        width:0.1em;
    }
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    @media #{$mobile}{
        .bouton{
            height:2.5em;

        }
    }

}
input[type="file"]{
    display:none;
}

.erreur{
    color:red;
}

.crayonPhoto {
    position: relative; 
    width:fit-content;
    left:35%;

    img {
        border-radius: 50%;
        width:250px;
        height: 250px;
        
    }
    label{
        border:none;
        width:fit-content;
        height:fit-content;
        padding:0;
        cursor:pointer;
        
        img{
            width: auto;
            height: 25%;
            position: absolute;
            border-radius: 25%;
            bottom: 0;
            right:10px;
        }   

    }
    @media #{$mobile}{
        left:0;
        img{
            width:200px;
            height:200px;
        }
    }
}
.btnJaune{
    margin-top:2em;
    width:30%;
    @media #{$mobile}{
        width:60%;
    }
}
#deconnexion img{
    margin-right:1em;
}
.btnRetour{
    align-self:flex-start;
    margin-left:10em;
    font-size:$GdTitle;
    color:black;
    cursor:pointer;
}