@use "./styleCom" as *;
@use "../tools/vFront" as *;
@use "../components/carte" as *;
@use "../tools/mixin/com" as *;



.separateur {
    display: block;
    
    background-color: $eleOrange;
    width: 80%;
    margin: 1em auto 0 auto;
    height: 10px;
    border-radius: $radius;
    @media #{$mobile}{
        height: 5px;
    }

}





.cmd{
    display: flex;
    justify-content: center;
    flex-direction: column;
        article{
        border-radius: $radius;
        margin-top: $marg;
        padding: $pad;
        width: 40%;
        background-color: $colS;
        display: flex;
        align-self: center;
        flex-direction: column;

        div{
            padding: 0 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            img{
                border-radius: $radius;
                width: 30%;
            }
            

        }
        .info{
            padding: 0 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                @media #{$mobile} {
                    font-size: smaller;
                    
                }
            }
        }
        .button{
            
            @include bouton;
            align-content: center;
        }
        
    }
}





