@use "./styleCom" as *;
@use "../tools/vFront" as *;
@use "../components/carte" as *;
@use "../tools/mixin/com" as *;



.separateur {
    display: block;
    
    background-color: $eleOrange;
    width: 80%;
    margin: 1em auto 0 auto;
    height: 10px;
    border-radius: $radius;
    @media #{$mobile}{
        height: 5px;
    }

}

.vide {
    padding: $pad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40%;

    a {
        color: grey;
        text-decoration: none;
        font-weight: lighter;
        font-style: italic;
    }
}

@mixin btn {
    font-family: $Poltext;
    width: 100%;
    margin-top: $marg;
    min-width: 8rem;
    height: 2rem;
    text-align: center;
    color: $noir;
    font-weight: bold;
    font-size: larger;
    background-color: $eleOrange;
    border: none;
    border-radius: $radius;
    cursor: pointer;
}
input{
    @include btn;
}
.cmd{
    display: flex;
    justify-content: center;
    flex-direction: column;
        article{
        border-radius: $radius;
        margin-top: $marg;
        padding: $pad;
        width: 40%;
        background-color: $colS;
        display: flex;
        align-self: center;
        flex-direction: column;

        div{
            padding: 0 5px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            img{
                border-radius: $radius;
                width: 30%;
            }
            

        }
        .info{
            padding: 0 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                @media #{$mobile} {
                    font-size: smaller;
                    
                }
            }
        }
        .button{
            
            @include bouton;
            height: 4em;
            align-content: center;
        }
        
    }
}





