@use '../tools/vback.scss' as *;
@use '../style/backoffice/styleComB.scss' as *;
@use "../tools/mixin/com" as *;
@use 'sass:color';


main{
    padding-bottom:2em;
    display:flex;
    flex-direction:column;
    align-items:center;
    

    form{
        border:#A1A1A1 solid 0.01em;
        border-radius:$radius;
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        width:50em;
        margin-top:1em;
        align-self:center;
        padding:2em;
        
        textarea{
            border:solid 1px;
            border-radius:$radius;
            height:10em;
            margin:10px 0;
            padding:10px;
            resize: none;
        }
        select {
            @include bouton($colP);
            border-radius:$radius;
            margin:10px 0;
            padding:10px;
            border: none;
            font-size:1em;
            max-width: 225px;
        }
        input{
            border:solid 1px;
            border-radius:$radius;
            height:3em;
            margin:10px 0;
            padding:10px;
            &::file-selector-button{
                @include bouton($colP);
                border: none;
                
            }
            &#photoProd{
                border:none;
                font-size:0.8em;
            }
            .bouton{
            height:5em;
            font-size:$MoyTitle;
            }
            
        }
        h2{
                margin: 0;
            }
        label::after{
                content: " *";
                color:red;
        }

        .taille{
            label::after{
                content: "";
                color:none;
            }
        }
        .pObl::after{
            content: "";
            color:none;
        }
                
            
            
    }

    .labelInput{
        display:flex;
        flex-direction: column;
        
    }

    .bouton{
        @include bouton($colP);
        &:hover{
            background-color : color.change($colP, $lightness: 40%);
        }
        &:active{
            background-color : color.change($colP, $lightness: 10%);
        }
    }

    a{
        &:hover{
            background-color : color.change($eleBleu, $lightness: 40%);
        }
        &:active{
            background-color : color.change($eleBleu, $lightness: 10%);
        }
    }

    a {
        background-color: $eleBleu;
        border-radius: $radius;
        width: 200px;
        height: 50px;
        text-align: center;
        align-content: center;
        color: $blanc;
        text-decoration: none;
        font-weight: bold;
        font-family: $Poltitle;
    }
}