@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-regular-webfont.woff") format("woff"), url("../../fonts/baloo2-regular-webfont.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-extrabold-webfont.woff") format("woff"), url("../../fonts/baloo2-extrabold-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-medium-webfont.woff") format("woff"), url("../..fonts/baloo2-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-black-webfont.woff") format("woff"), url("../../fonts/mulish-black-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-blackitalic-webfont.woff") format("woff"), url("../../fonts/mulish-blackitalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bolditalic-webfont.woff") format("woff"), url("../../fonts/mulish-bolditalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bold-webfont.woff") format("woff"), url("../../fonts/mulish-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format("woff"), url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format("woff"), url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-regular-webfont.woff") format("woff"), url("../../fonts/baloo2-regular-webfont.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-extrabold-webfont.woff") format("woff"), url("../../fonts/baloo2-extrabold-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-medium-webfont.woff") format("woff"), url("../../fonts/baloo2-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format("woff"), url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-black-webfont.woff") format("woff"), url("../../fonts/mulish-black-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-blackitalic-webfont.woff") format("woff"), url("../../fonts/mulish-blackitalic-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bolditalic-webfont.woff") format("woff"), url("../../fonts/mulish-bolditalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bold-webfont.woff") format("woff"), url("../../fonts/mulish-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format "woff", url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Mulish", "Baloo", "sans-serif";
  font-size: 14px;
  background-color: white;
  color: black;
  margin: 0;
}

main {
  padding-top: 80px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

h1 {
  font-family: "Baloo";
  font-size: 40px;
}

h2 {
  font-family: "Baloo";
  font-size: 32px;
}

h3 {
  font-family: "Baloo";
  font-size: 24px;
}

h4 {
  font-family: "Baloo";
  font-size: 20px;
}

p, label, input {
  font-family: "Mulish";
}

label {
  font-weight: bold;
}

input:user-invalid, input.invalid {
  border-color: red;
}
input:user-invalid + span, input.invalid + span {
  display: block;
}

.bouton {
  font-family: "Mulish";
  font-weight: bold;
  text-align: center;
  text-size: 20px;
  text-decoration: none;
  background-color: #064082;
  color: white;
  border-radius: 1em;
  cursor: pointer;
}

/*###############################
#            HEADER             #
###############################*/
header {
  z-index: 1000;
  position: fixed;
  display: inline-flex;
  background-color: #064082;
  height: 80px;
  width: 100%;
  align-items: center;
}
header .mobile-only {
  display: none;
}
header .logo_alizon_front {
  width: 118px;
  height: auto;
  padding-left: 80px;
  left: 0;
}
header nav {
  margin-left: auto;
  display: flex;
  align-items: center;
}
header nav a {
  padding-right: 20px;
  color: white;
  text-decoration: none;
}
header nav svg {
  padding-right: 10px;
}
@media screen and (max-width: 428px) {
  header .logo_alizon_front {
    padding-left: 30px;
    width: 100px;
  }
  header nav a {
    padding-right: 10px;
    font-size: 12px;
  }
  header .tab-only {
    display: none;
  }
  header .mobile-only {
    display: block;
    padding-left: 20px;
  }
  header nav svg {
    padding-right: 30px;
  }
}

/*###############################
#            FOOTER             #
###############################*/
.footer {
  background-color: #f9f9fb;
  border-top: 4px solid #FCB66B;
  color: #333;
  font-family: "Mulish";
  padding-top: 1rem;
}
.footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr;
  gap: 2rem;
  align-items: start;
}
.footer .footer-content .footer-section h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.footer .footer-content .footer-section p, .footer .footer-content .footer-section li, .footer .footer-content .footer-section a {
  font-size: 14px;
  color: #444;
  text-decoration: none;
}
.footer .footer-content .footer-section p {
  margin-bottom: 0.3rem;
  margin-top: 0;
}
.footer .footer-content .footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-content .footer-section ul li {
  margin-bottom: 0.3rem;
}
.footer .footer-content .footer-map {
  text-align: center;
}
.footer .footer-content .footer-map img {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}
.footer .footer-bottom {
  background-color: #D1ECF8;
  text-align: center;
  padding: 0.5rem;
  font-size: 14px;
  color: #333;
  border-top: 1px solid #ccc;
}
.footer .footer-logo {
  align-self: center;
}
.footer .logo-mobile-only-footer {
  display: none;
}
.footer .mobile-only {
  display: none;
}
@media screen and (max-width: 428px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
  .footer .footer-content {
    grid-template-columns: 50% 50%;
    text-align: left;
  }
  .footer .footer-content h3 {
    font-size: 13px;
  }
  .footer .footer-content .footer-logo {
    display: none;
  }
  .footer .footer-bottom {
    font-size: 10px;
  }
  .footer .logo-mobile-only-footer {
    display: block;
    align-self: center;
  }
  .footer .mobile-only {
    display: none;
  }
  .footer .other-account {
    align-self: center;
    text-align: center;
    margin-top: 10px;
  }
}

/*###############################
#        Menu Categorie         #
################################*/
.nav-cat {
  width: 100%;
  background-color: #6CA6E9;
  position: fixed;
  z-index: 999;
  display: flex;
  flex-direction: row;
}
.nav-cat div {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scrollbar-width: none;
}
.nav-cat h2 {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
}
.nav-cat svg, .nav-cat a {
  z-index: 1000;
  align-self: center;
  color: black;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  background-color: #6CA6E9;
  padding: 15px;
  padding-right: 30px;
  cursor: pointer;
}
.nav-cat svg {
  overflow: visible;
}

.overlayMenuCat {
  z-index: 998;
  display: none;
  position: fixed;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.overlayContentCat {
  position: absolute;
  background: #6CA6E9;
  padding: 2rem;
  padding-left: 1rem;
  text-align: left;
  max-width: 400px;
  min-width: 200px;
  height: 550px;
  top: 100px;
  left: 0;
  overflow-y: scroll;
  scrollbar-width: none;
}
.overlayContentCat ul {
  padding-inline-start: 1rem;
}
.overlayContentCat ul li {
  list-style: none;
  margin-bottom: 1rem;
}
.overlayContentCat ul li a {
  text-decoration: underline;
  font-family: "Mulish";
  font-size: 24px;
  font-weight: 600;
  color: black;
}
.overlayContentCat ul ul > li > a {
  text-decoration: none;
  font-size: 14px;
  font-weight: normal;
}
.overlayContentCat ul ul > li {
  margin-left: 1rem;
}

.btnJaune {
  font-family: "Mulish";
  font-weight: bold;
  text-align: center;
  text-size: 20px;
  text-decoration: none;
  background-color: #064082;
  color: white;
  border-radius: 1em;
  cursor: pointer;
  background-color: #FCB66B;
  border: 0px;
  color: black;
  width: 50%;
  padding: 1em;
}

header .logo_alizon_front {
  width: 200px;
}
header nav svg {
  width: 40px;
  height: 40px;
}

.bouton {
  padding: 40px;
  font-size: large;
}

main {
  padding-top: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50em;
}
main h1 {
  margin-bottom: 5em;
}/*# sourceMappingURL=paiementFini.css.map */