@use './styleCom' as *;
@use '../tools/vFront' as *;
@use "../tools/mixin/com" as *;

body{
    padding:0;
    margin:0;
}

article{
    background-color:$colS;
    width:100%;
    height:30%;
    border-radius:1em;
}
.labelInput{
    display:flex;
    flex-direction: column;
}
#numRue{
    width:5em;
}

input{
    border:solid 1px;
    border-radius:$radius;
    height:2.5em;
    margin:10px 0;
    padding:1em;
    width:100%;
    .btnJaune{
        padding-top:8px;
        
    }
    
}
section{
    width:40%;
    article{
        display:flex;
        justify-content: center;
        align-items: center;
        width:max-content;
        height:max-content;
        padding:$pad;

    }
}

div {
    &.row{
        margin: 1em 0;
    }
}


.ligne {
    border:solid 2px;
    border-radius:10px;
    margin:10px 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center; 
    width:100%;
    font-weight:bold;
    div{
        padding:0.5em;
    }
    .prixPoub{
        display:flex;
        align-items:center;
    }


    
}

#articles{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
#secRecap{
    width:80%;

}
#recapitulatif{
    
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-between;
    #recap{
        height:100%;
    }
    #prixTTCRecap{
        justify-self:flex-end;
        font: {
            weight:bold;
            size:$MoyTitle;
        }
    }
    .libelleProdRecap{
        display:flex;
        justify-content: space-between;
        
        width:90%;

    }

}
.ligneArtPaye{
    display:flex;
    
    input{
        width:auto;
        border-radius:10px;
        height:1em;
        margin-bottom:3rem;
    }
    section:nth-child(2){

        margin-left:12rem;
        width:40%;
        article{
            padding-left:8em;
            width:80%;
            height:auto;
            justify-content: flex-start;

        }
        form{
            width:80%;
            display:flex;
            flex-direction:column;
            align-items: flex-start;
            height:100%;
        }
        .dateCVC{
            display:flex;
            
        }
        #expDate{
            width:6rem;

        }
        #cvc{
            width:6rem;
        }
    }
    .bouton{
        @include bouton;
        background-color:$inverse;
        padding:1rem;
        width:10rem;
        border:none;
    }
    nav{
        display:flex;
        button{
            margin-right:2em;
        }
        align-self:flex-end;
    }

}