@use './styleCom' as *;
@use '../tools/vFront' as *;
@use "../tools/mixin/com" as *;
@use 'sass:color';

body{
    padding:0;
    margin:0;
}

article{
    background-color:$colS;
    width:100%;
    height:30%;
    border-radius:1em;
}
.labelInput{
    display:flex;
    flex-direction: column;
}
.ligneSection{
    display:flex;
    padding:1rem;
    @media #{$mobile}{
        flex-direction:column;
        justify-content: flex-start;
        align-items:flex-start;
    }
    section{
        width:100%;
        margin: 5rem 0;
        @media #{$mobile}{
            margin-left:0;
            
        }
    }
    section:nth-child(1){
        article{
            padding:3em;
        }
    }
    section:nth-child(2){
        margin: {
            left:20%;
            right:10%;
        }   
        @media #{$mobile}{
            margin:0;    
        }
    }

}

.ligneInput{

    display:flex;
    margin-bottom:1em;
    .labelInput:nth-child(1){
        margin-right:2em;
    }
    .labelInput:nth-child(2){
        width:60%;
    }
    #codePostal{
        width:6em;
    }
    #numApt{
        width:6em;
    }

}


#numRue{
    width:5em;
}

input{
    border:solid 1px;
    border-radius:$radius;
    height:3em;
    margin:10px 0;
    padding:1em;
    width:100%;
    .btnJaune{
        padding-top:8px;
        
    }
    
}
section:nth-child(1){
    .bouton{
        padding:$pad/2 $pad;
        margin-top:1em;
    }
}
section{
    width:40%;

    article{

        display:flex;
        justify-content: center;
        align-items: center;
        width:max-content;
        height:max-content;
        padding:$pad;

        @media #{$mobile}{
            width:fit-content;
            .labelInput{
                flex-direction: column;
            }
            form{
                width:100%;
            }


        }
    }
}

div {
    &.row{
        margin: 1em 0;
    }
}


.ligne {
    border:solid 2px;
    border-radius:10px;
    margin:10px 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center; 
    width:100%;
    font-weight:bold;
    div{
        padding:0.5em;
    }
    .prixPoub{
        display:flex;
        align-items:center;
    }


    
}

#articles{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}
#secRecap{
    width:100%;

}
#recapitulatif{
    
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-between;
    #recap{
        height:100%;
    }
    #prixTTCRecap{
        justify-self:flex-end;
        font: {
            weight:bold;
            size:$MoyTitle;
        }
    }
    .libelleProdRecap{
        display:flex;
        justify-content: space-between;
        
        width:90%;

    }

}
.ligneArtPaye{
    display:flex;
    
    @media #{$mobile} {
        flex-direction:column;
        justify-content: flex-start;
        padding:1rem;
        section{
            width:100%;
            margin-bottom:1rem;
        }
    }
    
    input{
        width:auto;
        border-radius:10px;
        height:1em;
        margin-bottom:3rem;
    }
    section:nth-child(2){

        margin-left:13rem;
        width:40%;
        @media #{$mobile}{
            margin:0;
            width:100%;
        }
        article{
            padding-left:8em;
            width:80%;
            height:auto;
            justify-content: flex-start;
            @media #{$mobile}{
                padding:1rem;
                width:100%;
            }

        }
        form{
            width:80%;
            display:flex;
            flex-direction:column;
            align-items: flex-start;
            height:100%;
            @media #{$mobile}{
                width:100%;
            }
        }
        .dateCVC{
            display:flex;
            justify-content: space-between;
            width:65%;
            
        }
        #expDate{
            width:6rem;

        }
        #cvc{
            width:6rem;
        }
    }
    .bouton{
        @include bouton;
        background-color:$inverse;
        padding:1.5rem;
        width:10rem;
        border:none;
    }
    nav{
        display:flex;
        justify-content: space-between;
        button{
            margin: {
                right: 2em;
                top:2em;
            }
        }
        align-self:flex-end;
    }
    padding-bottom:3em;

}
#poubelle{
    border:none;
    background-color: $colS;
    img{
        width:30px;
    }
    &:hover{
        background-color: color.change($noir, $lightness: 70%) ;
    }
}
