@use '../components/fonts.scss';
@use '../tools/vFront' as *;
@use './styleCom' as *;

.bouton{
    padding:$pad * 2 2em;
    font-size:large;
    margin-bottom:1em;
    
}
main{
    padding-top:20em;
    display:flex;
    flex-direction: column;
    align-items: center;
    height:50em;
    h1{
        margin-bottom:5em;
    }
    
}