@use "./styleCom" as *;
@use "../tools/vFront" as *;
@use "../components/carte";



.vide {
    padding: $pad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40%;

    a {
        color: grey;
        text-decoration: none;
        font-weight: lighter;
        font-style: italic;
    }
}

input {
    font-family: $Poltext;
    width: 100%;
    margin-top: $marg;
    min-width: 8rem;
    height: 2rem;
    text-align: center;
    color: $noir;
    font-weight: bold;
    background-color: $eleOrange;
    border: none;
    border-radius: $radius;
    cursor: pointer;
}

$cardW : 700px;
$cardH : 260px;

article {
    scrollbar-width: none;
    overflow: scroll;
    height: 60%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    flex: 0 auto;

}

.articlePanier {
    display: grid;
    
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: .5fr 1fr 1fr;
    background-color: $colS;
    padding: $pad;
    margin: $marg;
    border-radius: $radius;
    min-width: $cardW;
    min-height: $cardH;

    div:first-child {
        grid-area: 1 / 1 / 2 / 2;
    }

    

    h3,
    p {
        margin: 0;
    }

    .prix {
        grid-area: 2 / 3 / 3 / 4;
        margin-top: 10px;
    }


    img {
        grid-area: 2 / 1 / 3 / 3;

        border-radius: $radius;
        max-width: 40%;
    }

    .compteur {
        //min-width: 150%;
        grid-area: 1 / 3 / 2 / 4;
        height: 80%;
        display: flex;
        flex-direction: row;

        button{
            margin: 0;
            padding: 5px;
            background-color: $blanc;
            border: 2px solid $noir;
            min-width: 20%;

            &:first-child {
                border-radius: $radius 0 0 $radius;
            }

            &:last-child {
                border-radius: 0 $radius $radius 0;
            }


        }

        p {
            padding: 5px $pad;
            background-color: $blanc;
            align-content: center;
            border-top: 2px solid $noir;
            border-bottom: 2px solid $noir;
        }
    }
}

.recap {
    background-color: $colS;
    align-content: center;
    float: right;
    border-radius: $radius;
    padding: $pad;
    margin-top: $marg;
    width: 25%;
    h4{
        margin:0;
    }
}

.btn-vider {
    grid-area: 2 / 1 / 3 / 2;
    width: 70%;

}