@use "./styleCom" as *;
@use "../tools/vFront" as *;
@use "../components/carte";
@use "../tools/mixin/com" as *;

$cardW : 700px;
$cardH : 260px;
$McardW : 350px;
$McardH : 230px;



input[type=button]{
    @include bouton($eleOrange);
    
}

article {
    scrollbar-width: none;
    overflow: scroll;
    height: 60%;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    flex: 0 auto;
    @media #{$mobile} {
        max-width: 100%;
        
    }

}

.articlePanier {
    display: grid;
    gap: .5em;
    grid-template-columns: repeat(2,2fr) 2fr ;
    grid-template-rows: .5fr 2fr 1fr;
    background-color: $colS;
    padding: $pad;
    margin: $marg 0;
    border-radius: $radius;
    min-width: $cardW;
    min-height: $cardH;
    @media #{$mobile} {
        width: $McardW;
        height: $McardH;
        grid-template-columns: 1.5fr 1fr 1fr;
        grid-template-rows: .5fr 1fr;
        min-width: $McardW;
        min-height: auto;
    }
    

    div:first-child {
        grid-area: 1 / 2 / 2 / 2;
    }

    .infoProd {
        margin-left: 25px;
    }

    h3,
    p {
        margin: 0;
    }
    .desc{
        grid-area: 2/2/2/2;
        @media #{$mobile}{
            display: none;
        }
    }
    .prix {
        grid-area: 2 / 3 / 3 / 4;
        
        text-align: end;
        
    }
    .btn-supprimer{
        @include bouton($eleOrange);
        width: 30%;
        align-self: end;
        justify-self: end;
        grid-area: 3/ 3 / 3 / 4;
        height: 3rem;
        color:black;
    }


    img {
        grid-area: 1 / 1 / 3 / 4;

        border-radius: $radius;
        
        max-height: 80%;
        max-width: 400px;
        object-fit: cover;
         @media #{$mobile} {
            margin-top: 10px;
            max-width: 35%;
            max-width: 200px;
            max-height: 80%;
            
        }
    }

    .compteur {
        //min-width: 150%;
        grid-area: 1 / 3 / 2 / 4;
        height: 80%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: end ;
        
        @media #{$mobile} {
            height: 50%;
            width: 100%;
            
        }
        button{
            margin: 0;
            padding: 5px;
            background-color: $blanc;
            border: 2px solid $noir;
            min-width: 10%;
            cursor: pointer;
            &:first-child {
                border-radius: $radius 0 0 $radius;
            }

            &:last-child {
                border-radius: 0 $radius $radius 0;
            }
            svg{
                
                @media #{$mobile} {
                    width: 14px;
                    height: 14px;
                }
            }

            @media #{$mobile} {
                
                padding: 3px;
                min-width: 0;
                
            }

        }

        p {
            padding: 5px $pad;
            background-color: $blanc;
            align-content: center;
            border-top: 2px solid $noir;
            border-bottom: 2px solid $noir;
            @media #{$mobile} {
                padding: 2.5px 7.5px;
                
            }
        }
        
    }
}
aside{
    float: right;
    width: 25%;
    display:flex;
    flex-direction: column;
    .btn-retour{
            display: flex;
            justify-content: center;
            align-self: center;
        }
    .btn-recap{
        background-color: $eleOrange;
        text-decoration: none;
        color:$noir;
        padding: 10px;
        border-radius: $radius;
        width: 95%;
        text-align: center;
        display: block;
        
    }
    .recap {
        background-color: $colS;
        align-content: center;
        border-radius: $radius;
        padding: $pad;
        margin: $marg 0;
        h4{
            margin:0;
        }
        
        .prix{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            p{
                margin-top:0;
            }
        }
        @media #{$mobile}{
            float:none;
            width: 90%;
        }
    
    
    }
    @media #{$mobile} {
        float:none;
        width: 100%;
        
    }
}

.btn-vider {
    @include bouton($eleOrange);
    height: 3rem;

    color:black;
    grid-area: 2 / 1 / 3 / 2;
    width: 70%;

    @media #{$mobile}{
        width: 100%;
    }

    

}