@use "./styleCom" as *;
@use "../tools/vFront" as *;
@use "../components/carte";


.vide{
    padding: $pad;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40%;
    a {
        color:grey;
        text-decoration: none;
        font-weight: lighter;
        font-style: italic;
    }
}
input{
    font-family: $Poltext;
            width: 100%;
            margin-top : $marg;
            min-width: 8rem;
            
            height: 2rem;
            text-align: center;
            color : $noir;
            font-weight: bold;
            background-color: $eleOrange;
            border:none;
            border-radius: $radius;
            cursor:pointer;
}