@use "../tools/vback" as *;
@use "../style/styleComB" as *;
#popup-overlay {
    position: fixed;
    border:$noir 2px solid;
    border-radius: 8px;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
    background: $blanc;
    display: none;
    z-index: 999;
    h2{
        margin-top: 0.5em;
    }
    a{
        text-decoration: none;
        color: $noir;
    }
    .avis-item{
        border:$noir 1px solid;
        border-radius: 8px;
        margin: 20px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
    img{
        width:125px;
        height:125px;
        border-radius: 50%;
    };
    .nomNote{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 1.5em;
        p{
            font-family: $Poltext , sans-serif;
            font-size: $PetTitle;
            color: $noir;
            font-weight: bold;
            margin-right: 0.25em;
        }
        .note{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    .btnFermer{
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 28px;
        font-weight: bold;
        color: $noir;
        cursor: pointer;
        &:hover {
            color: rgba(0,0,0,0.7);
        }
    }
}
#popup-overlay.open{
    display: block !important;
}