@use "../tools/vFront" as *;
@use "sass:math";

$wCard:230px;
$hCard: 500px;
$wCard-mob: 200px;
$hCard-mob: 125px;

.card{
    background-color: $colS;
    flex: 0 0 auto;
    margin: 0 20px;
    color : $noir;
    width: auto;
    height: auto;
    max-width: $wCard;
    max-height: $hCard;
    border-radius: math.div($radius,2);
    padding : $pad;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:$marg;
    @media #{$mobile}{
        width: $wCard-mob;
        height: $hCard-mob;
    }
    .madein{
        grid-area: 2/1/2/4;
        font-size: 0.9rem;
        padding-right: 15px;
        font-weight: bolder;
        color: black;
        @media #{$mobile}{
            display:none;
        }
    }
    .description{
        grid-area: 2/1/2/4;
        padding-top: 25px;
        font-size: 0.9rem;
        padding-right: 15px;
        color: black;
        @media #{$mobile}{
            display:none;
        }
    }
    figure{
        grid-area: 1/1/1/3;
        @media #{$mobile}{
            grid-area: 1/1/1/4;
            display: flex;
            flex-direction: row;
        }
        margin:0;
        img{
            width: $wCard - 5px;
            background-color: white;
            //max-height: 180px;
            height: $wCard - 5px;
            object-fit: cover;
            border-radius: math.div($radius,2);
            @media #{$mobile}{
                margin-right: 10px;
                width: 70px;
                height: 70px;
            }
        }
        figcaption{
            font-size: 1.25em;
            font-weight: bold;
        }
        
    }
    .etoiles {
        position: relative;
        margin-top: 5px;
        display:flex;
        flex-direction: row;
        height: auto;
        grid-area: 1/2/1/1;
        top: 30px;
        @media #{$mobile} {
            top:28px;
        }
    }
    .prix{
        grid-area: 3/1/3/1;
        align-content: flex-end;
        font-weight: bold;
        font-size: 16px;
        @media #{$mobile} {
            margin-top: 10px;
            grid-area: 2/1/2/1;
        }
    }
    div{
        grid-area: 3/2/3/2;
        display: flex;
        flex-direction: column-reverse;
        align-items: end;
        float: right;
        height: auto;
        @media #{$mobile} {
            height: 30px;
            margin-top: 20px;
            grid-area: 2/3/2/3;
        }
        .button{
            right: 20px;
            display : flex;
            align-items: center;
            align-content: center;
            display :block;
            font-family: $Poltext;
            width: 100%;
            margin-bottom : 10px;
            min-width: 8rem;
            height: 2rem;
            text-align: center;
            color : $noir;
            font-weight: bold;
            background-color: $eleOrange;
            border:none;
            border-radius: $radius;
            cursor:pointer;
            @media #{$mobile}{
                display:none;
                
            }
        }
    }
}

.etoile {
    color: #ccc;
    font-size: 1.1rem;
}

.etoile.pleine {
    color: #f5b301;
}

.mobile-commande {
    display: none;
    background-color: transparent;
    border: none;
    color: transparent;
    @media #{$mobile} {
        display: block;
        position: relative;
        top:-15px;
    }
    svg {
        fill: $eleOrange;
        stroke : $noir;
        width: 30px;
        height: auto;
    }
}