@use "../tools/vFront" as *;
@use "sass:math";

$wCard:240px;
$hCard: 390px;
$hCard-mob: 300px;

.card{
    margin: 0 20px;
    color : $noir;
    width: auto;
    height: auto;
    max-width: $wCard;
    max-height: $hCard;
    border-radius: math.div($radius,2);
    padding : $pad;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:$marg;
    @media #{$mobile}{
        
        height: $hCard-mob;
    }
    figure{
        grid-area: 1/1/2/3;
        
        margin:0;
        img{
            width: 100%;
            
            background-color: white;
            //max-height: 180px;
            height: 180px;
            object-fit: cover;
            border-radius: math.div($radius,2);
        }
        figcaption{
            margin-top : 10px;
            
        }
        
    }
    .prix{
        grid-area: 2/1/3/2;
        align-content: flex-end;
        margin:0;
        
    }
    div{
        grid-area: 2/2/3/3;
        display: flex;
        flex-direction: column-reverse;
        align-items: end;
        float: right;
        height: auto;
        a svg{
            display: none;
            @media #{$mobile} {
                display: block;
                fill: $eleOrange;
                stoke : $noir;
                
                
            }
        }
        .button{
            display : flex;
            align-items: center;
            align-content: center;
            display :block;
            font-family: $Poltext;
            width: 100%;
            margin-top : $marg;
            min-width: 8rem;
            height: 2rem;
            text-align: center;
            color : $noir;
            font-weight: bold;
            background-color: $eleOrange;
            border:none;
            border-radius: $radius;
            cursor:pointer;
            @media #{$mobile}{
                display:none;
                
            }
        }
    }
}