@font-face {
  font-family: 'Baloo';
  src: url('/html/fonts/baloo2-regular-webfont.woff') format('woff'),
    url('/html/fonts/baloo2-regular-webfont.woff2') format('woff2');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'Baloo';
  src: url('/html/fonts/baloo2-extrabold-webfont.woff') format('woff'),
    url('/html/fonts/baloo2-extrabold-webfont.woff2') format('woff2');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Baloo';
  src: url('/html/fonts/baloo2-medium-webfont.woff') format('woff'),
    url('/html/fonts/baloo2-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Mulish';
  src: url('/html/fonts/mulish-black-webfont.woff') format('woff'),
    url('/html/fonts/mulish-black-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Mulish';
  src: url('/html/fonts/mulish-blackitalic-webfont.woff') format('woff'),
    url('/html/fonts/mulish-blackitalic-webfont.woff2') format('woff2');
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: 'Mulish';
  src: url('/html/fonts/mulish-bolditalic-webfont.woff') format('woff'),
    url('/html/fonts/mulish-bolditalic-webfont.woff2') format('woff2');
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: 'Mulish';
  src: url('/html/fonts/mulish-bold-webfont.woff') format('woff'),
    url('/html/fonts/mulish-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mulish';
  src: url('/html/fonts/mulish-latin-500-normal.woff') format('woff'),
      url('/html/fonts/mulish-latin-500-normal.woff2') format('woff2');
  font-weight:normal;
  font-style:normal;
  font-display:swap;  
  
}
