@use "../vFront" as *;

@mixin text($taille){
    font: {
        family: $Poltitle;
        size: $taille;
        //weight : bold;
    }
}
   
@mixin bouton($couleur : $colP){
    background-color: $couleur;
    color:$blanc; 
    border-radius:$radius;
}