@use "../vFront" as *;
@use 'sass:color';

@mixin text($taille){
    font: {
        family: $Poltitle;
        size: $taille;
        //weight : bold;
    }
}
   
@mixin bouton($couleur : $colP){
    font: {
        family:$Poltext;
        weight:bold;
    }
    text: {
        align:center;
        size:$PetTitle;
        decoration:none;
    }

    background-color:$couleur;
    color:$blanc; 
    border-radius:$radius;
    cursor:pointer;
        &:hover{
            background-color : color.change($couleur, $lightness: 30%);
        }
        &:active{
            background-color : color.change($couleur, $lightness: 20%);
        }
}
   

@mixin inputDouble($width1 : 50%, $width2 : 50%){
    .labelInput:nth-child(1){
        width:$width1;
    }
    .labelInput:nth-child(2){
        width:$width2;
    }
}
