@use "../vback" as *;

@mixin text($taille){
    font: {
        family: $Poltitle;
        size: $taille;
        //weight : bold;
    }
}
   
@mixin bouton($couleur : $colP){
    font: {
        family:$Poltext;
        weight:bold;
    }
    text: {
        align:center;
        size:$PetTitle;
        decoration:none;
    }

    background-color:$couleur;
    color:$blanc; 
    border-radius:$radius;
    cursor:pointer;
}
   

@mixin bouton($couleur  : $colP){
    font: {
        family: $Poltext;
        weight: bold;
    }
    text: {
        align: center;
        decoration: none;
        size: $PetTitle;
    }
    background-color: $couleur;
    color:$blanc;
    border-radius: $radius;
    cursor:pointer;
}