
// Variables de couleurs.  
$blanc : blanc;
$noir: noir;
$colP : #064082;
$colS : #D1ECF8;
$eleOrange : #FCB66B;
$eleBleu : #6CA6E9;
$inverse : #FF4444;

// Variables de texte 
 
$Poltitle : "Baloo 2";
$Poltext : "Mulish";
$txtSize : 14px;
$TrGdTitle : 40px;  //Pour les H1  
$GdTitle: 32px;     //Pour les H2 
$MoyTitle : 24px;   //Pour les H3
$PetTitle : 20px;   //Pour les H4 

// divers
$radius : 1em;
$pad : 20px;
$marg : 20px;