@use "../../tools/vback" as *;
@use "../../tools/mixin/com" as m;
@use '../../tools/fonts' as *;

.btn-retour{
    display: flex;
    align-items: end;
    text-decoration:underline;
    margin:$marg;
    color:#A1A1A1;
    font-size: $PetTitle;
}
body{
    font: {
        family: $Poltext,$Poltitle,"sans-serif";
        size: $txtSize;
    }
    background: {
        color: $blanc;
    }
    color : $noir;
    margin: 0;
}

h1{
   @include m.text($TrGdTitle);
}
h2{
    @include m.text($GdTitle);
}
h3{
    @include m.text($MoyTitle);
}
h4{
    @include m.text($PetTitle);
}
p, label, input{
    font-family:$Poltext;
}
label{
    font-weight:bold;
}
/*###############################
#            HEADER             #
###############################*/

header{
    display: flex;
    flex-direction: row;
    background-color: $colP;
    align-items: center;
    justify-content: space-between;
    .logo_alizon_back{
        width: 118px;
        height: auto;
        margin: 1em 2em 1em 2em;
    }

    h1{
        color: white;
        font-family: $Poltitle , sans-serif;
        font-size: 2em;
        margin-top: 1em;
    }
    div{
        display: flex;

    }
    a {
        display: flex;
        outline:none;
        text-decoration: none;
        h2{
        color: white;
        font-family: $Poltitle , sans-serif;
        font-size: 1.5em;
        margin: 0 2em 0 0;
        
        }
        .ajout{
            margin: 0 0.5em 0 2em;
            width: 2em;
            height: auto;
            flex-direction: row;
        }
        .user{
            width: 2em;
            height: auto;
            margin: 0 0.5em 0 2em;
            flex-direction: row;
        }
    }
    
}

/*###############################
#            FOOTER             #
###############################*/

.footer {
    background-color: #f9f9fb;
    border-top: 4px solid $eleBleu ;
    color: #333;
    font-family: $Poltext;
    padding-top: 1rem;
    margin-top: 2em;

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1.5rem 2rem;
        padding-top: 0;
        display: grid;
        grid-template-columns: 1.4fr 1fr 1fr;
        gap: 2rem;
        align-items: start;

        .footer-section {
            h3 {
                font-size: $MoyTitle;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            p, li, a {
                font-size: $txtSize;
                color: #444;
                text-decoration: none;

            }

            p{
                margin: {
                    bottom: 0.3rem;
                    top:0;
                }
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

            li {
                margin-bottom: 0.3rem;
            }
            }

        }

        .footer-map {
            text-align: center;

            img {
                max-width: 100%;
                height: auto;
                opacity: 0.8;
            }
        }
    }

    .footer-bottom {
        background-color: $colS;
        text-align: center;
        padding: 0.5rem;
        font-size: $txtSize;
        color: #333;
        border-top: 1px solid #ccc;
    }

    .footer-logo{
        align-self: center;
        display: flex;
        
    }
}

