@use "../../tools/vback" as *;
@use "../../tools/mixin/com" as m;
@use '../../tools/fonts' as *;

.btn-retour{
    display: flex;
    align-items: end;
    text-decoration:underline;
    margin:$marg;
    color:#A1A1A1;
    font-size: $PetTitle;
}

body{
    background-color: #eaeaea;
}

body{
    font: {
        family: $Poltext,$Poltitle,"sans-serif";
        size: $txtSize;
    }
    background: {
        color: #eaeaea;
    }
    color : $noir;
    margin: 0
}

h1{
   @include m.text($TrGdTitle);
}
h2{
    @include m.text($GdTitle);
}
h3{
    @include m.text($MoyTitle);
}
h4{
    @include m.text($PetTitle);
}
p, label, input{
    font-family:$Poltext;
}
label{
    font-weight:bold;
}

main{
    padding: {
        top: 80px;
        bottom: $pad;
        right:$pad;
        left :$pad;
    } 
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

/*###############################
#            HEADER             #
###############################*/

header{
    z-index: 1000;;
    position: fixed;
    display: inline-flex;
    flex-direction: row;
    background-color: $colP;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .logo_alizon_back{
        width: 118px;
        height: auto;
        margin: 1em 2em 1em 2em;
    }

    h1{
        color: white;
        font-family: $Poltitle , sans-serif;
        font-size: 2em;
        margin-top: 1em;
    }
    div{
        display: flex;
        #deconnexionHeader{
            margin-right:1em;
        }

    }
    a {
        display: flex;
        outline:none;
        text-decoration: none;
        h2{
        color: white;
        font-family: $Poltitle , sans-serif;
        font-size: 1.5em;
        margin: 0 2em 0 0;
        
        }
        .ajout{
            margin: 0 0.5em 0 2em;
            width: 2em;
            height: auto;
            flex-direction: row;
        }
        .user{
            width: 2em;
            height: auto;
            margin: 0 0.5em 0 2em;
            flex-direction: row;
        }
    }

    .svg-deconnexion{
        margin-right: 20px;
        cursor: pointer;
    }
    
}

/*###############################
#            FOOTER             #
###############################*/

.footer {
    background-color: #f9f9fb;
    border-top: 4px solid $eleBleu ;
    color: #333;
    font-family: $Poltext;
    padding-top: 1rem;
    margin-top: 2em;

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1.5rem 2rem;
        padding-top: 0;
        display: grid;
        grid-template-columns: 1.4fr 1fr 1fr;
        gap: 2rem;
        align-items: start;

        .footer-section {
            h3 {
                font-size: $MoyTitle;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            p, li, a {
                font-size: $txtSize;
                color: #444;
                text-decoration: none;

            }

            p{
                margin: {
                    bottom: 0.3rem;
                    top:0;
                }
            }

            ul {
                list-style: none;
                padding: 0;
                margin: 0;

            li {
                margin-bottom: 0.3rem;
            }
            }

        }

        .footer-map {
            text-align: center;

            img {
                max-width: 100%;
                height: auto;
                opacity: 0.8;
            }
        }
    }

    .footer-bottom {
        background-color: $colS;
        text-align: center;
        padding: 0.5rem;
        font-size: $txtSize;
        color: #333;
        border-top: 1px solid #ccc;
    }

    .footer-logo{
        align-self: center;
        display: flex;
        
    }
}

/*#################################
#          NAV                    #   
#################################*/

.nav-btn{
    width: 300px;
    min-width: 300px;
    z-index: 999;
    position: sticky;
    top: 130px;
    display: flex;
    flex-direction: column;
    padding:0 0 20px 0;
    .btnacc{
        background-color: $blanc;
        display: flex;
        gap: 1em;
        margin: 10px;
        padding: 20px;
        text-decoration: none;
        color: $noir;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        font-size: 1.5em;
        margin-top: 0;

        svg{
            align-self: center;
            margin-right: 10px;
            min-width: 28px;
            min-height: 28px;
            stroke-width: 2px;
        }
        
    }
    .btnacc:visited{
        color: $noir;
    }

    .btnacc:hover{
        //border: 2px solid $colP;
        transform: translateY(-5px);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    .orange{
        background-color: $eleOrange;
    }
}

.right-content {
    margin-top: 2em;
    padding-bottom: 2em;
    height: auto;
    display: flex;
}

body{
    background-color: #eaeaea;
}

.overlayCompte{
    z-index: 1000;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;


}
.overlayContentCompte{
    z-index:100;
    position:absolute;
    top: 0;
    right: 0;
    // @media #{$mobile}{
    //     right:70px;
    // }
    height:15em;
    width: 230px;
    background-color:$blanc;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 0 10px;
    border:solid $colP;
    nav{
        height:90%;

        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items:center;

        hr{
            width:95%;
        }
        a{
            padding:1.5em;
            color:black;
            text-decoration: none;
            &:hover{
                color:$eleBleu;
            }
        }
        
    }
    
}