
@use './styleComB.scss' as *;
@use '../../tools/vback.scss' as *;


@use 'sass:color';


main{
    display: flex;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    h1{
        font-family: $Poltitle , sans-serif;
        font-size: 2em;
        color: $colS;
    }
    p{
        font-family: $Poltext , sans-serif;
        font-size: 1.2em;
        color: $noir;
    }

}


.mes-produits{
    display: flex;
    flex-direction: column; 
    gap: 1.25em;
    margin-left : 1em;
    margin-right: 1em;
    width: 100%;
    height: auto;
    border-radius: 8px;


    div{
        display: flex;
        gap: 0.5em;
        justify-content: left;
        flex-wrap: wrap;
    }





    h1{
        font-family: $Poltitle , sans-serif;
        font-size: 2em;
        color: $noir;
        text-align: left;
        margin-top: 1em;
        padding-left: 0;
    }
    
}

body{
    background-color: #eaeaea;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw; 
    box-sizing: border-box;
}


.produit {
    position: relative;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $blanc;
    border-radius: 8px;
    width: 17em;
    height: 24.25em;
    text-decoration: none;
    box-sizing: border-box;
    gap: 0.10em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    > svg {
        position:absolute;
        top: 5px;
        left: 5px;
        z-index: 2;
    }
    a{
        img{
            text-decoration: none;
            object-fit: cover;
            border-color: black;
        }
    }

    img {
        position: static; 
        justify-self: center;
        z-index: 1;
        width: 200px;
        height: 200px;
        border-color: $noir;
        border-radius: 8px;
        border: 2px solid;
        margin-top: 10px;
        margin-left: -10px;
    }

    p {
        margin: 0;
    }

    .nomArticle {
        font-family: $Poltext , sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        color: $noir;
        text-align: left;
    }

    .prixBase {
        padding-left: 10px;
        font-family: $Poltext , sans-serif;
        font-size: 0.75em;
        color: $noir;
        text-decoration: line-through;
        text-decoration-color: $noir;
        text-decoration-thickness: 2px;
        text-align: left;
    }

    .infoProduit {
        display: flex;
        flex-direction: row;
        align-items: center; 
        width: 100%; 
        justify-content: flex-start;
        gap: 0.25em; 
        position: relative; 

        .prixReduc {
            font-family: $Poltext , sans-serif;
            font-size: 1.25em;
            //padding-left: 10px;
            margin-right: 0.25em;
            color: $noir;
            font-weight: bold;
        }

        .pourcentReduc {
            font-family: $Poltext , sans-serif;
            font-size: 1em;
            padding-right: 20px;
            color: $inverse;
        }
        
    }
    .btnModifReduc {
        position: absolute;
        padding: 0.25em;
        display: flex;
        align-self: flex-end;
        justify-self: left;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        svg {
            width: 35px;
            height: 100%;
        }
        &:hover {
            svg circle {
                fill: color.adjust($eleBleu, $lightness: -10%);
            }
        }
    }

    .infoProduit{
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}

.lesAvis{
    background-color: $colS;
    text-decoration: none;
    width: 60em;
    height: 30em;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    
    float: right;
    margin: 0 4em 3em 5em;
    display: block;
    position: relative;
    z-index: 1;

    h1{
        font-family: $Poltitle , sans-serif;
        font-size: 2em;
        color: $noir;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 0;
    }

    .avis{
        display: flex;
        flex-direction: row;
        background-color: $blanc;
        border: $noir solid 1px;
        width: 50em;
        height: 4em;
        border-radius: 16px;
        margin: 1em 0 0 4em;
        padding: 1em;
        text-decoration: none;
        position: relative;
        }

        .pdp{
            width: 4.5em;
            height: 4.5em;
            border-radius: 50%;
            margin: {
                bottom: 0.5em;
                top: -0.25em;
                right: 0.5em;
            }    
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $colP;
            color: white;
            font-family: $Poltext, sans-serif;
            font-size: 1em;
            text-align: center;
            position: relative;
            flex-shrink: 0;
        }
        
        

        
}
.infoAvis{
    display: flex;
    flex-direction: column;
    .nomNote{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 1.5em;
        p{
            font-family: $Poltext , sans-serif;
            font-size: $PetTitle;
            color: $noir;
            font-weight: bold;
            margin-right: 0.25em;
        }
        .note{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
    
    .nomUtilisateur{
        font-family: $Poltext , sans-serif;
        font-size: 1.2em;
        color: $noir;
        margin-top: 0em;
        height: 0.5em;
    }

    .contenuAvis{
        font-family: $Poltext , sans-serif;
        font-size: 1em;
        color: $noir;
        text-overflow: ellipsis;
        margin: 0;
    }
}
.btnAccueil {
    clear: right; 
    display: flex;
    flex-direction: row;
    margin: 0 4em 1em 5em; 
    a {
        padding: 0.5em 1em;
        margin: 1em 0.5em 1em 0;
        flex-basis: 100%;
        height: 1.5em;
        display: flex;
        font-weight: bold;
        font-size: 24px;
        font-family: $Poltext, sans-serif;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: $eleOrange;
        color: $noir;
        border-radius: $radius;
        text-decoration: none;
        &:hover {
            background-color: color.adjust($eleOrange, $lightness: -10%);
            cursor: pointer;
        }
    }
}
.lesPromotions {
    background-color: $colS;
    text-decoration: none;
    width: 60em;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
    float: right;
    margin: 0 4em 0 2em; 
    margin-top: 1em;
    h1 {
        font-family: $Poltitle, sans-serif;
        font-size: 2em;
        color: $noir;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 0;
    }
}

.promotions{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    margin-top: 1.5em;
    margin-bottom: 2em;
    padding-bottom: 0.75em;

    .promo{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        border-radius: 24px;
        width: 20em;
        height: 5em;
        padding: 1em;

        img{
            width: 100%;
            max-width: 100%;
            height: auto;
            display: block;
            border-radius: 16px;
            z-index: 1;

        }

        h2{
            z-index: 2;
            position: absolute;
            font-family: $Poltext , sans-serif;
            font-size: 1.5em;
            color: $blanc;
            margin-top: 1em;
            text-align: center;
        }
    }
}

.right-content{
    flex-direction: row;
    flex-wrap: wrap;
}

.bvn-vendeur{
    font-family: $Poltitle , sans-serif;
    font-size: 2em;
    color: $noir;
    margin-left: 10px;
}

.prixNormalbarre{
    text-decoration: line-through;
    color: grey;
}

.prixReducRed{
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.badge-promo{
    z-index: 2;
    align-self: flex-start;
    width: auto !important;
    background-color: rgb(255, 52, 52);
    padding: 5px 10px;
    border-radius: 50px;
    font-family: $Poltext , sans-serif;
    font-size: 16px;
    font-weight: bold;

    p{
        color: white;
    }
}

.badge-remise{
    z-index: 2;
    align-self: flex-start;
    width: auto !important;
    background-color: rgb(255, 165, 0);
    padding: 5px 10px;
    border-radius: 50px;
    font-family: $Poltext , sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;

    p{
        color: rgb(0, 0, 0);
        margin: 0;
    }

    svg{
        stroke-width: 3px;
        stroke: black;
        width: 16px;
        height: 16px;
    }
}

.bandeau-badges{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.petit-menu{
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: auto !important;
    background-color: rgba(199, 199, 199, 1);
    padding: 5px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    svg{
        stroke: rgb(0, 0, 0);
        width: 20px;
        height: 20px;
    }
}

.petit-menu-actions {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 8px;
    right: 8px;
    z-index: 20;
}

.petit-menu-actions {
    position: absolute;
    bottom: 8px;
    right: 8px;

    width: 120px;
    height: 120px;
    transform-origin: bottom right;

    z-index: 20;
}



.petit-menu-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #c7c7c7;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.petit-menu-btn svg {
    width: 20px;
    height: 20px;
    stroke: black;
    align-self: center;
    justify-self: center;
}

.petit-menu-btn.petit-menu-main {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.petit-menu-btn.action {
    opacity: 0;
    pointer-events: none;
    transform: translate(0, 0);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.petit-menu-actions:hover .petit-menu-btn.action {
    opacity: 1;
    pointer-events: auto;
}

.petit-menu-actions:hover .action-1 {
    transform: translate(-55px, 10px);
}

.petit-menu-actions:hover .action-2 {
    transform: translate(-40px, -40px);
}

.petit-menu-actions:hover .action-3 {
    transform: translate(50px, -55px);
}




.petit-menu-btn.petit-menu-main {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.petit-menu-btn {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: #c7c7c7;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-btn-lien{
    text-decoration: none;
    color: black;
    text-align: right;
    width: auto;
    padding: 0;
    padding: 0 10px;
}

