@use '../../tools/vback.scss' as *;
@use '../styleCom.scss' as *;
@use './styleComB.scss' as *;
@use 'sass:color';


main{
    margin-left : 3em;
    h1{
        font-family: $Poltitle , sans-serif;
        font-size: 2em;
        color: $colS;
    }
    p{
        font-family: $Poltext , sans-serif;
        font-size: 1.2em;
        color: $noir;
    }

}
.btnAcceuil{        
    display: flex;
    flex-direction: row;   
        a {
            padding: 0.5em 1em;
            margin: 1em 0;
            width: 15em;
            height: 1.5em;
            display: flex;
            font-weight: bold;
            font-size: 24px;
            font-family: $Poltext, sans-serif;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: $eleOrange;
            color: $noir;
            border-radius: $radius;
            text-decoration: none;
            margin-bottom: 1em;
            &:hover {
                background-color: color.adjust($eleOrange, $lightness: -10%);
                cursor: pointer;
            }
            &:last-child{
                margin-left: 22.5em;
            }
    }
    
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 1.25em;
    gap: 1.25em;
    box-sizing: border-box;


    div{
        display: grid;
        grid-template-columns: repeat(2, 11.75em);
        gap: 1.25em;
        justify-content: start;
        align-items: start;
    }

    margin-left : 4em;
    background-color: $colS;
    width: 55em;
    height: 50em;
    border-radius: 24px;



    h1{
        font-family: $Poltitle , sans-serif;
        font-size: 2em;
        color: $noir;
        text-align: center;
        margin-top: 1em;
        padding-left: 0;
    }
    
}
body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100vw; 
    box-sizing: border-box;
}
.reduction {
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: left; 
    background-color: $blanc;
    border-radius: 24px;
    width: 11.75em;
    height: 11.75em;
    margin-left: 1.25em;
    text-decoration: none;
    position: relative;
    padding-top: 0.75em;
    box-sizing: border-box;
    gap: 0.10em;

    > svg {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 2;
    }
    a{
        img{
            text-decoration: none;
            border-color: black;
        }
    }

    img {
        position: static; 
        z-index: 1;
        width: 5.5em;
        height: 5.5em;
        border-color: $noir;
        border-radius: 24px;
        border: 2px solid;
        margin-left: 10px;
    }

    p {
        margin: 0;
    }

    .nomArticle {
        padding-left: 10px;
        font-family: $Poltext , sans-serif;
        font-size: 1em;
        color: $noir;
        text-align: left;
        margin-top: 0.25em; 
    }

    .prixBase {
        padding-left: 10px;
        font-family: $Poltext , sans-serif;
        font-size: 0.75em;
        color: $noir;
        text-decoration: line-through;
        text-decoration-color: $noir;
        text-decoration-thickness: 2px;
        text-align: left;
    }

    div {
        display: flex;
        flex-direction: row;
        align-items: center; 
        width: 100%; 
        justify-content: flex-start;
        gap: 0.25em; 
        position: relative; 

        .prixReduc {
            font-family: $Poltext , sans-serif;
            font-size: 1.25em;
            padding-left: 10px;
            margin-right: 0.25em;
            color: $noir;
            font-weight: bold;
        }

        .pourcentReduc {
            font-family: $Poltext , sans-serif;
            font-size: 1em;
            padding-right: 20px;
            color: $inverse;
        }
        .btnModifReduc {
            display: flex;
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            svg {
                width: 30px;
                height: 100%;
            }
            &:hover {
                svg circle {
                    fill: color.adjust($eleBleu, $lightness: -10%);
                }
            }
        }
    }
}

.lesAvis{
    background-color: $colS;
    text-decoration: none;
    width: 60em;
    height: 30em;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    
    float: right;
    margin: 0 4em 3em 5em;
    display: block;
    position: relative;
    z-index: 1;

    h1{
        font-family: $Poltitle , sans-serif;
        font-size: 2em;
        color: $noir;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 0;
    }

    .avis{
        display: flex;
        flex-direction: row;
        background-color: $blanc;
        border: $noir solid 1px;
        width: 50em;
        height: 4em;
        border-radius: 16px;
        margin: 1em 0 0 4em;
        padding: 1em;
        text-decoration: none;
        position: relative;

        h3{
            font-family: $Poltitle , sans-serif;
            font-size: 1em;
            color: $blanc;
            margin-bottom: 0.5em;
            background-color: $inverse;
            text-align: center;
            border-radius: 8px;
            width: 7.8em;
            top: -1.75em;
            right: 0em;
            position: absolute;

        }

        .pdp{
            width: 4.5em;
            height: 4.5em;
            border-radius: 50%;
            margin-top: -0.25em;
            margin-bottom: 0.5em;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $colP;
            color: white;
            font-family: $Poltext, sans-serif;
            font-size: 1em;
            text-align: center;
            position: relative;
            flex-shrink: 0;
        }
        
        

        
    }
}
.infoAvis{
    display: flex;
    flex-direction: column;
    margin-top: -0.75em;
    .nomNote{
        display: flex;
        flex-direction: row;
        align-items: center;
        p{
            font-family: $Poltext , sans-serif;
            font-size: $PetTitle;
            color: $noir;
            font-weight: bold;
            margin-right: 0.25em;
        }
        .note{
            display: flex;
            flex-direction: row;
            align-items: center;

        }
    }
    
    .nomUtilisateur{
        font-family: $Poltext , sans-serif;
        font-size: 1.2em;
        color: $noir;
        margin: {
            top: 0;
            bottom: 0.25em;
            left: 0.5em;
        } 
        
    }

    .contenuAvis{
        font-family: $Poltext , sans-serif;
        font-size: 1em;
        color: $noir;
        text-overflow: ellipsis;
        margin: 0;
        margin-left: 0.5em;
    }
}
.lesPromotions {
    background-color: $colS;
    text-decoration: none;
    width: 60em;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
    float: right;
    margin: 0 4em 0 2em; 
    margin-top: 1em;
    h1 {
        font-family: $Poltitle, sans-serif;
        font-size: 2em;
        color: $noir;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 0;
    }
}

.promotions{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    margin-top: 1.5em;
    margin-bottom: 2em;
    padding-bottom: 0.75em;

    .promo{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        border-radius: 24px;
        width: 20em;
        height: 5em;
        padding: 1em;

        img{
            width: 100%;
            max-width: 100%;
            height: auto;
            display: block;
            border-radius: 16px;
            z-index: 1;

        }

        h2{
            z-index: 2;
            position: absolute;
            font-family: $Poltext , sans-serif;
            font-size: 1.5em;
            color: $blanc;
            margin-top: 1em;
            text-align: center;
        }
    }
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}