@use "../../tools/vback" as *;
@use "./styleComB" as *;
@use "../../tools/mixin/com" as *;
header{
    background-color: white;
}
main {

    padding: 150px;
    margin : auto;
    width: 1140px;
    .header {
        padding-left: 50px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;

    }
    h1 {
        margin-left: 20px;
    }
    span{
        display:none;
        color:#6e6e6e;
        padding-top: 2px;
    }
    input {
        &:user-invalid, &.invalid{
            border-color:red;
            &+span{
                display:block;
            }
        }
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: black 2px solid;
        background-color: $blanc;
        border-radius: 16px;
        display: flex;
        padding-bottom: 20px;

        h3{
            align-self: center;
            text-decoration: underline;
        }

  
        section {
            
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 65px;
            width: 480px;
            padding-top: 0;
            h2, h3 {
                text-align: center;
            }
            label {
                font-size: 16px;
                padding-bottom: 10px;
                font-family: "Baloo";
            }
            input {
                background-color: #eaeaea;
                border-radius: 8px;
                height: 20px;
                font-size: 16px;
                padding:10px;   
                border: $noir 1px solid;
                font-family: "Baloo";
                border-color:black;
  
            }
            .label {
                padding-left: 35px;
                padding-top: 20px;
                display: flex;
                flex-direction: column;
                padding-right: 60px;
            }
            .labelaligner {
                padding-left: 0;
                padding-top: 20px;
                display: flex;
                flex-direction: column;
                padding-right: 60px;
            }
            .alignementdesentrer{
                display:flex;
                padding-left:0;
                padding-bottom: 0; 
            }
            .grandinput {
                width: 400px;
            }
            .moyeninput {
                width: 160px;
            }
            .petitinput {
                width: 110px;
            }

        }
        
        :nth-child(3) h3{
            padding-top: 78px;
        }
    }
    .boutton {
        display:flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        text-align: center;
        button {
            @include bouton($colP);
            height:55px;
            width:430px;
            border:none;
            margin-bottom:1em;
            font-size:$MoyTitle;

        }

    }
    .bouton{
        @include bouton($eleBleu);
        padding:2em;
        color:black;
        width:200px;
    }
}

details summary {
    cursor: pointer;
    list-style: none;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary h3 {
    margin: 0;
    text-align: left;
}

h3{
    text-align: center;
}