@use '../../tools/vback.scss' as *;
@use './styleComB' as *;
@use "../../tools/mixin/com" as *;
@use 'sass:color';

body{
    background-color: #eaeaea;
}

main{
    padding-top: 110px;
    padding-bottom:2em;
    display:flex;
    flex-direction:column;
    align-items:center;
    

    form{
        background-color: $blanc;
        border:#A1A1A1 solid 0.01em;
        border-radius:$radius;
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        width:50em;
        margin-top:1em;
        align-self:center;
        padding:2em;
        
        textarea{
            background-color: #eaeaea;
            border:solid 1px;
            border-radius:$radius;
            height:10em;
            margin:10px 0;
            padding:10px;
            resize: none;
        }
        select {
            @include bouton($colP);
            border-radius:$radius;
            margin:10px 0;
            padding:10px;
            border: none;
            font-size:1em;
            max-width: 225px;
        }
        input{
            background-color: #eaeaea;
            border:solid 1px;
            border-radius:$radius;
            height:3em;
            margin:10px 0;
            padding:10px;
            &::file-selector-button{
                @include bouton($colP);
                border: none;
                
            }
            &#photoProd{
                border:none;
                font-size:0.8em;
            }
            .bouton{
            height:5em;
            font-size:$MoyTitle;
                
            }
        }
        .cache{
            display:none;
            //color:#6e6e6e;
            color:red;
        }

        input{
            border:solid 1px;
            border-radius:$radius;
            height:3em;
            margin:10px 0;
            padding:10px;
            &::file-selector-button{
                @include bouton;
            }
            &#photoCli{
                border:none;
                font-size:0.8em;
                
            }
            &:user-invalid, &.invalid{
                border-color:red;
                &+.cache{
                    display:block;    
                }
            }

            
        }
        h2{
                margin: 0;
            }
        label::after{
                content: " *";
                color:red;
        }

        .taille{
            display: flex;
            flex-direction: column;
            label::after{
                content: "";
                color:none;
            }
        }
        .pObl::after{
            content: "";
            color:none;
        }
                
            
            
    }
    .taille{
        display: flex;
    }
    .labelInput{
        display:flex;
        flex-direction: column;
    }

    .bouton{
        @include bouton($colP);
        &:hover{
            background-color : color.change($colP, $lightness: 40%);
        }
        &:active{
            background-color : color.change($colP, $lightness: 10%);
        }
    }


}
.btn-retour{
    position: fixed;
    top: 100px;
    left: 25px;
}

#retour{
    display: none;
}

.label-retour{
    cursor: pointer;
    font-family: $Poltext;
    width: 120px;
    display: flex;
    align-items: end;
    text-decoration:underline;
    margin:$marg;
    margin-top: 20px;
    color:#A1A1A1;
    font-size: $PetTitle;
}

.btn-retour{
    display: flex;
    align-items: end;
    text-decoration:underline;
    margin:$marg;
    color:#A1A1A1;
    font-size: $PetTitle;
}



#dropZone {
    width: 250px;
    height: 150px;
    border: 2px dashed #aaa;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    color: #666;
    transition: 0.2s;
}

#dropZone.dragover {
    border-color: #000;
    background: #f5f5f5;
}

#preview img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 10px;
    border-radius: 6px;
    object-fit: cover;
}

#preview {
    position: relative;
    width: 250px;
    margin-top: 10px;
}

#preview img {
    width: 100%;
    border-radius: 10px;
}

#preview button {
    position: absolute;
    top: 6px;
    right: 6px;
    background: rgba(0,0,0,0.7);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.overlayContentCompte{
    top: -20px;
}

.dropreview{
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: center;
    padding-bottom: 20px;
}