@use "../../tools/vback" as *;
//@use "../../tools/vFront" as *;
@use "./styleComB" as *;


main {
    display: flex;
    align-items: flex-start;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    h1, h2 {
        font-family: $Poltitle;
    }
    p {
        font-family: $Poltext;
    }
}

.right-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 28px;
}

body{
    background-color: #eaeaea;
}

.nav-btn{
    margin-top: 28px;
}