@import url("bootstrap/scss/utilities/api");
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-regular-webfont.woff") format("woff"), url("../../fonts/baloo2-regular-webfont.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-extrabold-webfont.woff") format("woff"), url("../../fonts/baloo2-extrabold-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-medium-webfont.woff") format("woff"), url("../..fonts/baloo2-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-black-webfont.woff") format("woff"), url("../../fonts/mulish-black-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-blackitalic-webfont.woff") format("woff"), url("../../fonts/mulish-blackitalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bolditalic-webfont.woff") format("woff"), url("../../fonts/mulish-bolditalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bold-webfont.woff") format("woff"), url("../../fonts/mulish-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format("woff"), url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format("woff"), url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-regular-webfont.woff") format("woff"), url("../../fonts/baloo2-regular-webfont.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-extrabold-webfont.woff") format("woff"), url("../../fonts/baloo2-extrabold-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Baloo";
  src: url("../../fonts/baloo2-medium-webfont.woff") format("woff"), url("../../fonts/baloo2-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format("woff"), url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-black-webfont.woff") format("woff"), url("../../fonts/mulish-black-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-blackitalic-webfont.woff") format("woff"), url("../../fonts/mulish-blackitalic-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bolditalic-webfont.woff") format("woff"), url("../../fonts/mulish-bolditalic-webfont.woff2") format("woff2");
  font-weight: bolder;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-bold-webfont.woff") format("woff"), url("../../fonts/mulish-bold-webfont.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Mulish";
  src: url("../../fonts/mulish-latin-500-normal.woff") format "woff", url("../../fonts/mulish-latin-500-normal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.btn-retour {
  display: flex;
  align-items: end;
  text-decoration: underline;
  margin: 20px;
  color: #A1A1A1;
  font-size: 20px;
}

body {
  font-family: "Mulish", "Baloo", "sans-serif";
  font-size: 14px;
  background-color: white;
  color: black;
  margin: 0;
}

h1 {
  font-family: "Baloo";
  font-size: 40px;
}

h2 {
  font-family: "Baloo";
  font-size: 32px;
}

h3 {
  font-family: "Baloo";
  font-size: 24px;
}

h4 {
  font-family: "Baloo";
  font-size: 20px;
}

p, label, input {
  font-family: "Mulish";
}

label {
  font-weight: bold;
}

/*###############################
#            HEADER             #
###############################*/
header {
  display: flex;
  top: 0;
  z-index: 1000;
  position: sticky;
  flex-direction: row;
  background-color: #CD4B22;
  align-items: center;
  justify-content: space-between;
}
header .logo_alizon_back {
  width: 118px;
  height: auto;
  margin: 1em 2em 1em 2em;
}
header h1 {
  color: white;
  font-family: "Baloo", sans-serif;
  font-size: 2em;
  margin-top: 1em;
}
header div {
  display: flex;
}
header div #deconnexionHeader {
  margin-right: 1em;
}
header a {
  display: flex;
  outline: none;
  text-decoration: none;
}
header a h2 {
  color: white;
  font-family: "Baloo", sans-serif;
  font-size: 1.5em;
  margin: 0 2em 0 0;
}
header a .ajout {
  margin: 0 0.5em 0 2em;
  width: 2em;
  height: auto;
  flex-direction: row;
}
header a .user {
  width: 2em;
  height: auto;
  margin: 0 0.5em 0 2em;
  flex-direction: row;
}
header a .deco {
  width: 2em;
  height: auto;
  margin: 0 2em 0 0.5em;
  flex-direction: row;
}

/*###############################
#            FOOTER             #
###############################*/
.footer {
  background-color: #f9f9fb;
  border-top: 4px solid #6CA6E9;
  color: #333;
  font-family: "Mulish";
  padding-top: 1rem;
  margin-top: 2em;
}
.footer .footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  padding-top: 0;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr;
  gap: 2rem;
  align-items: start;
}
.footer .footer-content .footer-section h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.footer .footer-content .footer-section p, .footer .footer-content .footer-section li, .footer .footer-content .footer-section a {
  font-size: 14px;
  color: #444;
  text-decoration: none;
}
.footer .footer-content .footer-section p {
  margin-bottom: 0.3rem;
  margin-top: 0;
}
.footer .footer-content .footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .footer-content .footer-section ul li {
  margin-bottom: 0.3rem;
}
.footer .footer-content .footer-map {
  text-align: center;
}
.footer .footer-content .footer-map img {
  max-width: 100%;
  height: auto;
  opacity: 0.8;
}
.footer .footer-bottom {
  background-color: #FFD6C2;
  text-align: center;
  padding: 0.5rem;
  font-size: 14px;
  color: #333;
  border-top: 1px solid #ccc;
}
.footer .footer-logo {
  align-self: center;
  display: flex;
}

.card {
  margin: 0 20px;
  color: black;
  width: auto;
  height: auto;
  max-width: 230px;
  max-height: 500px;
  border-radius: 0.5em;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
@media screen and (max-width : 428px) {
  .card {
    height: 300px;
  }
}
.card .description {
  grid-area: 2/1/2/4;
  font-size: 0.9rem;
  color: black;
}
@media screen and (max-width : 428px) {
  .card .description {
    display: none;
  }
}
.card figure {
  grid-area: 1/1/2/3;
  margin: 0;
}
.card figure img {
  width: 225px;
  background-color: white;
  height: 225px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5em;
}
.card figure figcaption {
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
}
.card .etoiles {
  position: relative;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  grid-area: 1/2/1/1;
  top: 35px;
}
.card .prix {
  grid-area: 2/1/3/2;
  align-content: flex-end;
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}
.card div {
  grid-area: 2/2/3/3;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  float: right;
  height: auto;
}
.card div a svg {
  display: none;
}
@media screen and (max-width : 428px) {
  .card div a svg {
    display: block;
    fill: #FCB66B;
    stoke: black;
  }
}
.card div .button {
  display: flex;
  align-items: center;
  align-content: center;
  display: block;
  font-family: "Mulish";
  width: 100%;
  margin-top: 20px;
  min-width: 8rem;
  height: 2rem;
  text-align: center;
  color: black;
  font-weight: bold;
  background-color: #FCB66B;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}
@media screen and (max-width : 428px) {
  .card div .button {
    display: none;
  }
}

.etoile {
  color: #ccc;
  font-size: 1.5rem;
}

.etoile.pleine {
  color: #f5b301;
}

.vide {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 40%;
}
.vide a {
  color: grey;
  text-decoration: none;
  font-weight: lighter;
  font-style: italic;
}

a {
  text-decoration: none;
}

.titre-cat {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.separateur {
  display: block;
  background-color: #FCB66B;
  width: auto;
  height: 10px;
  border-radius: 1em;
}

h1 {
  display: block;
  margin-top: 20px;
  margin-left: 20px;
}

h2 {
  margin-top: 20px;
  margin-left: 40px;
}

.card {
  background-color: #FFD6C2;
  flex: 0 0 auto;
  margin-top: 20px;
}
.card .button {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Mulish";
  width: 100%;
  margin-top: 20px;
  min-width: 8rem;
  background-color: #6CA6E9;
  height: 2rem;
  text-align: center;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}

article {
  flex-wrap: wrap;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}/*# sourceMappingURL=Stock.css.map */